/* Homepage Styling */
body.home {
    #main.site-main {
        @include bg-gradient(180deg, var(--cloud-gray), var(--cloud-gray), var(--pale-cloud-gray));
        
        @include bp-max(tablet) {
            padding-bottom: 0;
        }
    }

    #content {
        position: relative;
        margin-top: rem(-230px);

        .entry-content {
            margin-top: 0;
        }

        .homepage-hero-component {
            padding-top: rem(200px);
        }

        .homepage-card-panel-component {
            margin: rem(-60px) rem(15px) 0;
            z-index: 4;

            @include bp-min(tablet) {
                margin: rem(-100px) rem(40px) 0;
            }

            @include bp-min(smdesk) {
                margin: rem(-90px) auto 0;
                z-index: 5;
            }
        }

        .homepage-about-component {
            margin: rem(40px) rem(15px) 0;

            @include bp-min(tablet) {
                margin: rem(60px) rem(40px) 0;
            }

            @include bp-min(smdesk) {
                margin: rem(120px) auto rem(30px);
                max-width: min(calc(100% - rem(120px)), var(--responsive--aligndefault-width));
            }

            @include bp-min(lgdesk) {
                margin-bottom: rem(60px);
            }
        }

        .homepage-card-panel-component,
        .homepage-about-component {
            @include bp-max(tablet) {
                max-width: calc(100% - var(--global--spacing-horizontal) / 2);
                margin-right: calc(var(--global--spacing-horizontal) / 2);
                margin-left: calc(var(--global--spacing-horizontal) / 2);
            }
        }
    }
}