@use '../../../libraries/partials/partials' as *;

// Column Block Styles
.column-block {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: rem(28px);
    margin-bottom: rem(28px);

    @include bp-min(tablet) {
      gap: rem(4px);
      margin-bottom: rem(4px);
    }
  }

  .column-block-column {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center calc(100% - rem(28px));
    border-radius: var(--default-border-radius);

    @include bp-min(tablet) {
      background-position: center calc(100% - rem(10px));
    }

    @include bp-min(lg-desktop) {
      background-position: center calc(100% - rem(15px));
    }

    &:nth-child(1) {
      background-color: var(--aten-gray);
    }

    &:nth-child(2) {
      background-color: var(--aten-orange-dark);
    }

    &:nth-child(3) {
      background-color: var(--aten-green);
    }

    &.single-column {
      background-position: center calc(100% - rem(28px));

      @include bp-min(tablet) {
        background-position: center calc(100% - rem(70px));
      }

      @include bp-min(lg-desktop) {
        background-position: center calc(100% - rem(80px));
      }
    }
  }

  .column-block-content {
    padding: rem(24px);

    > * {
      margin-bottom: rem(16px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include bp-min(tablet) {
      padding: rem(32px);
    }
  }

  .column-block-image-wrapper {
    align-items: center;
    display: flex;
    height: rem(230px);
    justify-content: center;
    overflow: hidden;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  // Single column layout
  .column-layout-1 {
    @include bp-min(tablet) {
      margin-bottom: 0;

      .column-block-content {
        padding: rem(48px);
      }

      .column-block-image-wrapper {
        height: rem(430px);
      }
    }

    @include bp-min(lg-desktop) {
      .column-block-column {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  // Two column layout
  .column-layout-2 {
    flex-flow: column;

    @include bp-min(tablet) {
      flex-flow: row nowrap;

      .column-block-column {
        width: calc(50% - rem(2px));
      }
    }

    @include bp-min(lg-desktop) {
      .column-block-image-wrapper {
        height: rem(320px);
      }
    }
  }

  // Three column layout
  .column-layout-3 {
    flex-direction: column;

    @include bp-between(tablet, lg-desktop) {
      .column-block-column {
        background-image: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;

        &:not(.with-image) {
          flex-flow: row;
        }
      }
    }

    @include bp-min(lg-desktop) {
      flex-flow: row nowrap;

      .column-block-column {
        width: calc(33.3% - rem(2px));
      }
    }
  }
}
