@use '../../partials/partials' as *;

// Layouts for content
// -----------------------------------
.l-gutter {
  @include l-gutter;
}

.l-narrow {
  @include l-narrow;
}

.l-full {
  @include l-full;
}

[class*='l-gutter'] [class*='l-gutter'] {
  margin-left: 0;
  margin-right: 0;
}

:root {
  // Expose margin amounts for offset
  --margin: 15px;

  // Tablet
  @include bp-min(tablet) {
    --margin: 40px;
  }
  // Small & Medium Desktop
  @include bp-min(sm-desktop) {
    --margin: 60px;
  }
  // Large Desktop
  @include bp-min(lg-desktop) {
    --margin: 120px;
  }
}

// Attach smooth for all scrollable elements
html {
  scroll-behavior: smooth;
}

.contains-sidebar-content {
  @include bp-min(tablet) {
    flex-direction: column;
  }

  @include bp-min(desktop) {
    flex-direction: row;
  }
}

// Arranging columns for 2-col layouts when in mobile view
.wp-block-columns.sidebar-layout {
  .sidebar-layout-sidebar {
    @include bp-min(desktop) {
      padding-left: rem(30px);
    }

    @include bp-min(lg-desktop) {
      padding-left: rem(40px);

      > div {
        border-left: rem(2px) solid var(--cloud-grey);
        padding-left: rem(60px);
      }
    }
  }

  @include bp-max(desktop) {
    // Overriding WP default
    flex-wrap: wrap !important;

    .sidebar-layout-content,
    .sidebar-layout-sidebar {
      width: 100%;
      // Overriding WP default
      flex-basis: 100% !important;
    }
  }
}

main#wp--skip-link--target {
  // Removing whitespace between menu and header of templates
  margin-top: 0px !important;
}

.wp-block-columns {
  position: relative;
}

.cleardiv {
  clear: both;
}
