// All Services Block
.all-services-block {
    padding: rem(24px) 0;

    @include bp-min(tablet) {
        padding: rem(54px) 0;
    }

    @include bp-min(smdesk) {
        padding: rem(62px) 0;
    }

    @include bp-min(mddesk) {
        padding: rem(60px) 0;
    }

    @include bp-min(lgdesk) {
        padding-top: rem(96px);
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-indent: 0;
        margin: 0;

        li {
            text-indent: 0;
        }
    }

    .arrow-icon,
    .jump-link-icon,
    .service-icon,
    .services-icon {
        @include font-material-icons;
    }

    h2 {
        @include font-h2;
        font-weight: var(--font-weight-bold);
        margin-bottom: rem(24px);

        @include bp-min(tablet) {
            margin-bottom: rem(48px);   
        }
    
        @include bp-min(mddesk) {
            margin-bottom: rem(60px);   
        }
    }

    h3 {
        @include font-h3;        
        font-weight: var(--font-weight-bold);
        display: flex;
        align-items: center;

        .jump-link-icon {
            margin-right: rem(12px);
        }
    }

    ul.jump-link-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(18px) rem(24px);
        padding: rem(16.5px) 0 rem(24.5px);

        li {
            width: calc(50% - rem(18px));
            @include font-body-14;
            
            a {
                font-weight: var(--font-weight-bold);
                text-decoration: none;
                position: relative;
                display: block;
                padding-left: rem(20px);

                &:hover,
                &:focus {
                    text-decoration: underline;
                }

                .jump-link-icon {
                    font-size: var(--font-size-body-20);
                    position: absolute;
                    left: 0;
                }
            }
        }

        @include bp-min(tablet) {
            gap: rem(20px) rem(94px);
            padding: rem(20px) 0 rem(48px);

            li {
                width: calc(50% - rem(47px));

                a {
                    // Hard coded to match Figma
                    font-size: rem(18px);
                    padding-left: rem(28px);
                }
            }
        }

        @include bp-min(smdesk) {
            gap: rem(20px) rem(108px);

            li {
                width: calc(33.33% - rem(72px));
            }
        }
 
        @include bp-min(mddesk) {
            gap: rem(20px) rem(48px);
            padding-bottom: rem(60px);

            li {
                width: calc(25% - rem(36px));
            }
        }

        @include bp-min(lgdesk) {
            gap: rem(20px) rem(100px);

            li {
                width: calc(25% - rem(75px));
            }
        }
    }

    li.services-section {
        padding: rem(24px) 0;
        border-top: rem(2px) solid var(--cloud-grey);

        @include bp-min(tablet) {
            padding: rem(48px) 0;
        }

        @include bp-min(lgdesk) {
            border-top: 0px;
        }

        &:first-child {
            border-top: rem(2px) solid var(--cloud-grey);
        }

        h4.service-section-heading {
            @include font-label-16;
            font-weight: var(--font-weight-bold);
            margin-bottom: rem(16px);
            display: inline-block;

            @include bp-min(tablet) {
                margin-bottom: rem(32px);
            }
        }
    }

    ul.service-cards {
        display: flex;
        flex-direction: column;
        gap: rem(22px);

        @include bp-min(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: rem(32px) rem(30px);
        }

        li.service-card {
            display: flex;
            align-items: center;
            gap: rem(12px);
            transition: all .2s ease;

            @include bp-min(tablet) {
                background-color: var(--white);
                box-shadow: var(--default-box-shadow);
                flex-direction: column;
                width: calc(50% - rem(63px));
                gap: unset;
                padding: rem(44px) rem(24px) rem(24px);
                text-align: center;
                position: relative;
                border-radius: var(--default-border-radius);
            }

            @include bp-min(smdesk) {
                width: calc(33.33% - rem(68px));
            }

            @include bp-min(mddesk) {
                width: calc(25% - rem(71px));
            }

            &.focused,
            &:focus-within {
                box-shadow: none;
                background-color: var(--aten-blue-light);
            }

            .icon-container {
                height: rem(28px);
                width: rem(28px);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include bp-min(tablet) {
                    position: absolute;
                    top: rem(-12px);
                    height: rem(48px);
                    width: rem(48px);
                }

                // Setting up color changes based on order within the page
                &.color-1 {
                    background-color: var(--aten-yellow);
                }
    
                &.color-2 {
                    background-color: var(--aten-blue);
                }
                
                &.color-3 {
                    background-color: var(--aten-green);
                }
    
                &.color-4 {
                    background-color: var(--aten-blue-light);
                }

                .service-icon {
                    font-size: rem(18px);

                    @include bp-min(tablet) {
                        font-size: rem(28px);
                    }
                }
            }
        }

        .service-details {
            p {
                margin: 0;
                @include font-body-14;

                &.service-title {
                    font-weight: var(--font-weight-bold);

                    @include bp-min(tablet) {
                        font-size: rem(18px);
                    }
                }
            }

            a {
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

    a.back-to-top-btn {
        @include font-label-14;
        font-weight: var(--font-weight-bold);
        color: var(--white);
        background-color: var(--aten-blue-dark);
        border-radius: rem(100px);
        padding: rem(6px) rem(12px) rem(6px) rem(36px);
        text-decoration: none;
        position: relative;
        margin: rem(10px) auto rem(20px);
        display: inline-block;

        &:hover,
        &:focus {
            background-color: var(--aten-blue-dark);
        }

        .arrow-icon {
            font-size: rem(18px);
            position: absolute;
            left: rem(10px);
        }
    }

    .a11y-visible.skip-link {
        &:focus {
            clip: auto !important;
            clip-path: none;
            color: var(--aten-blue-dark);
            display: block;
            font-size: 1em;
            height: auto;
            line-height: normal;
            padding: rem(4px);
            text-decoration: underline;
            width: auto;
            margin-left: rem(16px);
            display: inline;
        }
    }
}