// Fetured Link Section styles
.featured-link-section-wrapper {

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        text-indent: 0;
    }

    .featured-link-section {
        width: 100%;
        border-radius: var(--default-border-radius);
        overflow: hidden;
        max-width: 1140px;
        margin: 0 auto;

        @include bp-min(tablet) {
            margin-bottom: rem(48px);
        }

        @include bp-min(smdesk) {
            display: flex;
            margin-bottom: rem(80px);
        }

        &.featured-link-section-1 {
            .link-pane {
                background: var(--tangerine) url("../aten-fse/assets/img/corner-gold.svg") no-repeat top right;
            }
        }

        &.featured-link-section-2 {
            .link-pane {
                background: var(--light-green) url("../aten-fse/assets/img/corner-green.svg") no-repeat bottom left;
            }

            @include bp-min(smdesk) {
                flex-direction: row-reverse;
            }
        }

        &.featured-link-section-3 {
            .link-pane {
                background: var(--sky-blue) url("../aten-fse/assets/img/corner-blue.svg") no-repeat bottom right;
            }
        }

        h2 {
            @include font-h2;
            font-weight: var(--font-weight-bold);
        }
    }

    .title-pane {
        text-align: center;
        padding: rem(88px) 0;
        background-color: var(--aten-purple);
        position: relative;
        overflow: hidden;

        @include bp-min(tablet) {
            padding: rem(88px) rem(40px) rem(76px);

            img {
                margin-bottom: rem(12px);
            }

            .button-link-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                @include bp-min(smdesk) {
                    flex-wrap: wrap;
                }

                a {
                    margin: rem(12px);

                    @include bp-min(tablet) {
                        font-size: rem(18px);
                    }

                    &::after {
                        vertical-align: top;
                    }
                }
            }
        }

        @include bp-min(smdesk) {
            width: 50%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include bp-min(mddesk) {
            width: 60%;
            min-height: rem(460px);
        }

        @include bp-min(lgdesk) {
            width: 62%;
        }

        .title-bg {
            background-size: cover;
            background-position: center center;
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transition: 0.75s;

            &.image-zoom {
                transform: scale(1.1);
            }
        }

        .title-wrapper {
            position: relative;
            z-index: 2;
        }

        h2 {
            color: var(--white);

            @include bp-min(tablet) {
                margin: rem(12px);
            }
        }

    }

    .link-pane {
        padding: rem(32px) rem(24px);

        @include bp-min(tablet) {
            padding: rem(28px) rem(48px) rem(48px);
        }

        @include bp-min(smdesk) {
            width: 50%;
            box-sizing: border-box;
            padding: rem(84px) rem(40px) rem(84px) rem(80px);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include bp-min(mddesk) {
            width: 40%;
        }

        @include bp-min(lgdesk) {
            width: 38%;
        }

        .mobile-title {
            h2 {
                color: var(--black);
                font-size: rem(20px);
            }

            h2,
            a {
                margin-bottom: rem(12px);
            }
        }

        .button-link-wrapper {
            a.btn--black {
                padding: 0;
            }
        }
    }

    .listed-links {

        @include bp-min(tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include bp-min(smdesk) {
            flex-direction: column;
        }

        li {
            display: flex;
            align-items: center;
            margin-top: rem(12px);

            @include bp-min(tablet) {
                margin-top: rem(20px);
                width: 48%;
            }

            @include bp-min(smdesk) {
                width: 100%;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        a {
            @include font-h4;
            color: var(--black);
            font-weight: var(--font-weight-bold);
            text-decoration: none;
            margin-left: rem(8px);

            @include bp-max(smdesk) {
                font-size: var(--font-size-h5);
            }

            @include bp-min(tablet) {
                margin-left: rem(16px);
            }

            &:hover, 
            &:focus,
            &:active {
                text-decoration: underline;

            }
        }
    }

    .list-link-icon {
        @include font-material-icons;
        font-size: rem(18px);

        @include bp-min(tablet) {
            font-size: rem(28px);
        }
    }

    .desktop-title {
        display: none;

        @include bp-min(tablet) {
            display: block;
        }
    }

    .mobile-title {
        @include bp-min(tablet) {
            display: none;
        }
    }
}