/* Jump Link Block styling */

.jump-link-block { 
    * {
        text-indent: 0;
    }

    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        font-weight: var(--font-weight-bold);
    }

    h2.jump-link-section-title {
        @include font-h3;
        font-weight: var(--font-weight-bold);
    }

    h2.jump-link-block-title,
    h2.jump-link-section-title {
        margin-bottom: rem(6px);
        text-indent: 0;
        display: inline-block;

        @include bp-min(tablet) {
            margin-bottom: rem(12px);
        }
    }

    .jump-link-list,
    .jump-link-sections,
    .jump-link-section-content {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .jump-link-list {
        margin-bottom: rem(20px);

        @include bp-min(tablet) {
            margin-bottom: rem(28px);
        }
    }

    .jump-link-section-content-item {
        > * {
            margin-bottom: rem(20px);

            @include bp-min(tablet) {
                margin-bottom: rem(28px);
            }
        }

        .accordion-block {
            margin-bottom: rem(32px);
        }

        .resources-block {
            ul {
                margin: 0;
    
                li.resource {
                    width: 100%;
    
                    @include bp-min(mddesk) {
                        width: calc(50% - rem(8px));
                    }
                }
            }
    
            .resource-icon {
                color: var(--black);
            }
        }

        .text-media-block {
            > ol, 
            > ul {
                margin: rem(8px) 0 rem(16px);
            }
        }

        iframe {
            max-width: 100%;
        }
    }

    .jump-link-section {
        position: relative;
    }

    .a11y-visible.skip-link {
        &:focus {
            clip: auto !important;
            clip-path: none;
            color: var(--aten-blue-dark);
            display: block;
            font-size: 1em;
            height: auto;
            line-height: normal;
            padding: rem(4px);
            text-decoration: underline;
            width: auto;
            margin-left: rem(16px);
            display: inline;

            @include bp-min(tablet) {
                margin-top: rem(3px);
            }

            @include bp-min(mddesk) {
                margin-top: rem(6px);
            }
        }
    }
}
