// News Archive styles
.news-query {

    ul.wp-block-post-template {
        display: flex;
        flex-direction: column;
        gap: rem(24px);

        @include bp-min(tablet) {
            gap: rem(32px);
        }

        @include bp-min(mddesk) {
            gap: rem(40px);
        }
    }

    .wp-block-post.news {
        border-radius: var(--default-border-radius);
        border-left: rem(4px) solid transparent;
        background: var(--white);
        box-shadow: var(--default-box-shadow);
        position: relative;
        width: calc(100% - rem(20px));
        margin-right: 0;
        margin-left: auto;
        padding: rem(24px) rem(24px) rem(24px) rem(40px);
        box-sizing: border-box;
        transition: all 0.3s ease;

        @include bp-min(tablet) {
            padding: rem(28px) rem(28px) rem(28px) rem(64px);
            margin-left: 0;
            margin-right: auto;
            width: 100%;
        }

        @include bp-min(mddesk) {
            padding: rem(32px) rem(32px) rem(32px) rem(88px);
        }

        &.hover-state {
            background-color: var(--aten-gray);
            box-shadow: none;
        }

        &.news_categories-alert {
            border-color: var(--aten-yellow);

            .news-category-icon-wrapper {
                background-color: var(--aten-yellow);

                &:hover,
                &:focus,
                &:focus-within {
                    background-color: var(--aten-yellow);
                }
            }
        }
        &.news_categories-civic-participation {
            border-color: var(--aten-blue);

            .news-category-icon-wrapper {
                background-color: var(--aten-blue);

                &:hover,
                &:focus,
                &:focus-within {
                    // Bright Blue at .75 opacity over white
                    background-color: #d8e3ff;
                }
            }
        }
        &.news_categories-community {
            border-color: var(--aten-blue-light);

            .news-category-icon-wrapper {
                background-color: var(--aten-blue-light);

                &:hover,
                &:focus,
                &:focus-within {
                    // Aqua at .75 opacity over white
                    background-color: #8fe2f1;
                }
            }
        }
        &.news_categories-general-news-announcements {
            border-color: var(--aten-yellow);

            .news-category-icon-wrapper {
                background-color: var(--aten-yellow);

                &:hover,
                &:focus,
                &:focus-within {
                    // Gold at .75 opacity over white
                    background-color: #fdc475;
                }
            }
        }
        &.news_categories-government-officials {
            border-color: var(--aten-green);

            .news-category-icon-wrapper {
                background-color: var(--aten-green);

                &:hover,
                &:focus,
                &:focus-within {
                    // Bright Green at .75 opacity over white
                    background-color: #a2e499;
                }
            }
        }

        .news-category-icon-wrapper {
            border-radius: 50%;
            height: rem(40px);
            width: rem(40px);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: rem(22px);
            left: rem(-20px);
            transition: all .3s ease;

            @include bp-min(tablet) {
                height: rem(52px);
                width: rem(52px);
            }

            @include bp-min(mddesk) {
                height: rem(78px);
                width: rem(78px);
                top: rem(32px);
            }
    
            .news-category-link {
                text-decoration: none;
                color: var(--black);
                height: 100%;
                width: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
    
            .news-category-icon {
                @include font-material-icons;
                font-size: rem(24px);
                text-indent: 0;

                @include bp-min(tablet) {
                    font-size: rem(32px);
                }

                @include bp-min(mddesk) {
                    font-size: rem(40px);
                }
            }
        }
    }

    .news-item-publication-date {
        @include font-body-14;
        font-size: rem(12px);
        margin: 0 auto rem(8px);
        text-indent: 0;

        @include bp-min(tablet) {
            font-size: rem(14px);
        }

        @include bp-min(mddesk) {
            font-size: rem(16px);
        }
    }

    h2.wp-block-post-title {
        @include font-h3;
        text-indent: 0;
        font-weight: var(--font-weight-regular)!important;

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

}

.page-news,
.tax-news_categories {
    .entry-content {
        @include bp-min(lgdesk) {
            max-width: rem(780px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .basic-page-sidebar {
        @include bp-max(mddesk) {
            border-color: transparent;
        }
    }

    .page-header-component {
        @include bp-min(tablet) {
            padding-bottom: 2rem;
        }
    }
}

.tax-news_categories {
    main.wp-block-group {
        @include bp-min(lgdesk) {
            max-width: rem(780px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .sidebar-layout {
        @include bp-min(lgdesk) {
            justify-content: flex-end;
        }
    }

    .wp-block-column.sidebar-layout-sidebar {
        @include bp-min(lgdesk) {
            // Overriding WP default
            flex-basis: 28%!important;
        }
    }
}