// News Release block styles
.news-release-block {
    hr {
        border-bottom-width: rem(8px);
        width: rem(120px);
    }

    h2 {
        @include font-h2;
        font-weight: var(--font-weight-bold);
        
        @include bp-max(tablet) {
            font-size: rem(20px);
        }
    }

    .news-release-block-component > * {
        margin: rem(28px) 0;

        @include bp-min(smdesk) {
            margin: rem(48px) 0;
        }
    }

    p {
        @include font-body-16;
        margin: 0 0 rem(8px);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: rem(28px);

            @include bp-min(smdesk) {
                margin-bottom: rem(48px);
            }
        }
    }

    a:not(.btn-large--navy) {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    h3 {
        @include font-h3;
        font-weight: var(--font-weight-bold);

        @include bp-min(smdesk) {
            font-size: rem(28px);
        }
    }

    .news-item {
        > p {
            @include bp-max(tablet) {
                font-size: rem(12px);
            }

            @include bp-min(mddesk) {
                font-size: rem(16px);
            }
        }
    }

    .view-all-news .btn-large--navy {
        @include bp-min(mddesk) {
            font-size: rem(18px);
        }
    }
}