// Related Pages sidebar component styles
.related-pages {

  @include bp-min(tablet) {
    width: 48%;
  }

  @include bp-min(smdesk) {
    width: auto;
  }

  @include bp-min(mddesk) {
    width: 100%;
    border-top: rem(2px) solid var(--cloud-grey);
  }

  @include bp-min(lgdesk) {
    border: 0;
    margin-top: 0;
    margin-bottom: rem(2px);
  }

  h2 {
    @include font-h6;
    // Explicitly setting font size as it does not change with screen size
    font-size: rem(14px);
    font-weight: var(--font-weight-bold);
    margin-top: rem(20px);

    @include bp-min(tablet) {
      margin-top: rem(40px);
    }

    @include bp-min(lgdesk) {
      margin-top: rem(28px);
    }
  }

  ul {
    margin-top: rem(20px);
    list-style-type: none;
    padding: 0;

    li {
      font-size: rem(16px);
      font-weight: var(--font-weight-bold);
      margin-bottom: rem(20px);
      text-indent: 0;

      @include bp-min(smdesk) {
        font-size: rem(18px);
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }

        &::after {
          @include font-material-icons;
          vertical-align: top;
          content: "arrow_circle_right";
          display: inline-block;
          font-size: rem(24px);
          margin-left: rem(10px);
      
          @include bp-max(tablet) {
            font-size: rem(22px);
            margin-left: rem(8px);
          }
        }
      }
    }
  }
}