// Heading Fonts

@mixin headings() {
  font-family: var(--font-family-mint);
  font-weight: var(--font-weight-regular);
  margin-bottom: 0;
  margin-top: 0;
}

@mixin wide-letter-spacing() {
  letter-spacing: rem(2px);
}

@mixin font-h1() {
  @include headings();
  font-size: var(--font-size-h60);
  line-height: var(--line-height-h60);
}

@mixin font-h2() {
  @include headings();
  font-size: var(--font-size-h48);
  line-height: var(--line-height-h48);
}

@mixin font-h3() {
  @include headings();
  font-size: var(--font-size-h32);
  line-height: var(--line-height-h32);
}
@mixin font-h4() {
  @include headings();
  font-size: var(--font-size-h24);
  line-height: var(--line-height-h24);
}
@mixin font-h5() {
  @include headings();
  font-size: var(--font-size-h20);
  line-height: var(--line-height-h20);
}
@mixin font-h6() {
  @include headings();
  @include wide-letter-spacing();
  text-transform: uppercase;
  font-size: var(--font-size-l14);
  line-height: var(--line-height-l14);
}

// Main - Body Fonts
@mixin font-body-28() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-franklin);
  font-size: var(--font-size-b28);
  line-height: var(--line-height-b28);
}
@mixin font-body-18() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-franklin);
  font-size: var(--font-size-b18);
  line-height: var(--line-height-b18);
}
@mixin font-body-16() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-franklin);
  font-size: var(--font-size-b16);
  line-height: var(--line-height-b16);
}
@mixin font-body-14() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-franklin);
  font-size: var(--font-size-b14);
  line-height: var(--line-height-b14);
}

// Main - Label Fonts
@mixin labels() {
  @include wide-letter-spacing();
  font-family: var(--font-family-franklin);
  font-style: normal;
  text-transform: uppercase;
}
@mixin font-label-18() {
  @include labels();
  font-size: var(--font-size-l18);
  line-height: var(--line-height-l18);
}
@mixin font-label-14() {
  @include labels();
  font-size: var(--font-size-l14);
  line-height: var(--line-height-l14);
}

// Google Material Symbols Icon Font
@mixin font-material-icons {
  font-family: var(--font-family-icons);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

@mixin text-link($linkStyle: var(--purple)) {
  // Style defaults to purple text
  $color: var(--purple) !default;
  $hover-color: var(--dark-purple) !default;

  // White style link
  @if $linkStyle == var(--white) {
    $color: var(--white);
    $hover-color: var(--white);
  }

  display: inline;
  @include font-body-18;
  text-decoration: underline;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $hover-color;
    text-decoration: none;
  }
}


@mixin font-weight-bold {
  font-weight: var(--font-weight-semibold);
}

@mixin inline-link-focus($linkColor: var(--purple)) {
    // Style defaults to purple text
    $color: var(--purple) !default;
    $hover-color: var(--dark-purple) !default;

    // White style link
    @if $linkColor == var(--white) {
      $color: var(--white);
      $hover-color: var(--white);
    }

    background-color: transparent!important;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: rem(100px);
    border-width: rem(1px);
    border-style: solid;
    border-color: transparent;
    padding: rem(4px) rem(12px);

    &:focus {
      border-color: $hover-color;
      outline: none;
    }
}