/* Global Animations */
#ccc-site {
    // Fade In animation
    .animate-fade-in {
        opacity: 0;
    }

    .css-animate-fade-in {
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;	

        animation-duration: 1s;	
        -webkit-animation-duration: 1s;

        animation-timing-function: ease-in-out;	
        -webkit-animation-timing-function: ease-in-out;	
        
        animation-delay: 0.01s;
        -webkit-animation-delay: 0.01s;

        visibility: visible !important;	
    }

    @keyframes fadeIn {
        0% {
            opacity: 0.0;		
        }
        100% {
            opacity: 1;	
        }		
    }

    // Slide Up animation
    .animate-slide-up {
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }

    .css-animate-slide-up {
        animation-name: slideUp;
        -webkit-animation-name: slideUp;	

        animation-duration: 1s;	
        -webkit-animation-duration: 1s;

        animation-timing-function: ease-in-out;	
        -webkit-animation-timing-function: ease-in-out;	

        animation-delay: 0.01s;
        -webkit-animation-delay: 0.01s;

        visibility: visible !important;						
    }

    @keyframes slideUp {
        0% {
            transform: translateY(50%);
        }
        100% {
            transform: translateY(0%);
        }		
    }

    @-webkit-keyframes slideUp {
        0% {
            -webkit-transform: translateY(50%);
        }
        100% {
            -webkit-transform: translateY(0%);
        }	
    }

    // Dual Fade In/Slide Up animation
    .animate-fade-in-slide-up {
        opacity: 0;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }

    .css-animate-fade-in-slide-up {
        animation-name: fadeInSlideUp;
        -webkit-animation-name: fadeInSlideUp;	

        animation-duration: 1s;	
        -webkit-animation-duration: 1s;

        animation-timing-function: ease-in-out;	
        -webkit-animation-timing-function: ease-in-out;	

        visibility: visible !important;						
    }

    @keyframes fadeInSlideUp {
        0% {
            opacity: 0.0;	
            transform: translateY(50%);
        }
        100% {
            opacity: 1.0;	
            transform: translateY(0%);
        }		
    }

    @-webkit-keyframes fadeInSlideUp {
        0% {
            opacity: 0.0;	
            -webkit-transform: translateY(50%);
        }
        100% {
            opacity: 1.0;	
            -webkit-transform: translateY(0%);
        }	
    }

}