@use '../../partials/partials' as *;
// Sitewide Utility Navigation styling
.menu-row {
  // Overriding WP Default
  padding: rem(12px) rem(15px) !important;
  flex-wrap: nowrap !important;

  @include bp-min(tablet) {
    padding: rem(12px) rem(40px) !important;
  }

  @include bp-min(sm-desktop) {
    padding: 0 !important;
    flex-wrap: wrap !important;
  }
}

#utility-group {
  width: 100%;
  max-width: rem(1780px);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp-min(sm-desktop) {
    width: 100vw;
    margin: 0 auto;
    padding: rem(20px) rem(32px);
  }

  @include bp-min(lg-desktop) {
    padding: rem(32px) rem(80px);
  }

  .site-logo {
    width: rem(120px);

    @include bp-min(tablet) {
      width: rem(132px);
    }

    @include bp-min(sm-desktop) {
      width: rem(118px);
    }

    @include bp-min(desktop) {
      width: rem(160px);
    }

    @media (min-width: rem(1420px)) {
      width: rem(200px);
    }

    img {
      width: 100%;
    }
  }

  #mega-menu-wrap-primary {
    background-color: var(--transparent);
    display: flex;
    justify-content: flex-end;
    flex: 0 1 60%;

    @include bp-max(sm-desktop) {
      // Overriding Mega Menu styles
      display: none !important;
    }

    // Specificity required to override Mega Menu styles
    #mega-menu-primary {
      > li.mega-menu-item {
        padding: rem(6px);
        border-radius: rem(100px);

        @include bp-min(lg-desktop) {
          padding: rem(6px) rem(14px);
        }

        &.mega-toggle-on {
          background-color: var(--aten-blue-light);
        }

        > a.mega-menu-link {
          background-color: var(--transparent);
          color: var(--aten-blue-dark);
          @include type-scale(body, 14);
          font-weight: var(--aten-fw-bold);
          display: flex;
          align-items: center;
          padding: 0 0 0 rem(22px);

          &:hover,
          &:focus {
            cursor: pointer;
            text-decoration: underline;
          }

          &:focus {
            outline: -webkit-focus-ring-color auto 1px;
            outline-color: -webkit-focus-ring-color;
            outline-style: auto;
            outline-width: 1px;
            outline-offset: 0;
          }

          @include bp-min(lg-desktop) {
            @include type-scale(body, 18);
            font-weight: var(--aten-fw-bold);
          }
        }
      }

      > li.mega-menu-flyout {
        > ul.mega-sub-menu {
          background-color: var(--white);
          box-shadow: var(--default-box-shadow);
          top: rem(45px);
          padding: rem(20px) rem(20px) rem(10px);
          min-width: rem(270px);

          > li a {
            background-color: var(--transparent);
            @include type-scale(body, 16);
            color: var(--black);
            padding: 0 0 0 rem(30px);
            position: relative;
            margin-bottom: rem(10px);
            display: inline-flex;

            &:hover,
            &:focus {
              text-decoration: underline;
            }

            .menu-icon {
              color: var(--aten-blue-dark);
              position: absolute;
              left: 0;
              font-size: rem(20px);
            }
          }
        }
      }
    }
  }

  button.mega-menu-button {
    border: 0;
    background-color: var(--transparent);
    color: var(--aten-blue-dark);
    display: flex;
    flex-direction: row-reverse;
    @include type-scale(body, 14);
    font-weight: var(--aten-fw-bold);
    // Width of the icon
    padding-right: rem(24px);
    position: relative;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: underline;
      color: var(--aten-blue-dark);
    }

    .menu-icon {
      position: absolute;
      right: 0;
      top: 65%;
      transform: translate(0, -50%);
      margin-right: 0;
      transition: all 0.3s ease;

      @include bp-min(lg-desktop) {
        top: 50%;
      }
    }

    &[aria-expanded='true'] {
      .menu-icon {
        transform: translate(0, -75%) rotateX(-180deg);

        @include bp-min(lg-desktop) {
          transform: translate(0, -45%) rotateX(-180deg);
        }
      }
    }

    @include bp-min(lg-desktop) {
      @include type-scale(body, 18);
      font-weight: var(--aten-fw-bold);
    }
  }

  .mega-no-children a.mega-menu-link {
    .menu-icon {
      color: var(--aten-green-dark);
      margin-right: rem(6px);
      position: absolute;
      left: 0;

      &.right {
        display: none;
      }
    }

    &:hover,
    &:focus {
      .menu-icon {
        color: var(--aten-blue-dark);
      }
    }
  }
}
