@use '../../../libraries/partials/partials' as *;

// Information Header block styles
.information-header-block-component {
  background-image: url('../aten-hybrid/assets/img/info-header.svg'),
    linear-gradient(var(--navy) 10%, var(--white) 10.5%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: rem(24px);
  margin-bottom: rem(28px);
  width: 100%;
  position: relative;

  @include bp-min(tablet) {
    padding-top: rem(48px);
  }

  @include bp-min(sm-desktop) {
    padding-top: rem(64px);
    margin-bottom: rem(34px);
  }

  @include bp-min(desktop) {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    margin-bottom: rem(-54px);
  }

  &.has-image {
    @include bp-min(desktop) {
      padding-bottom: rem(136px);
    }
  }

  .information-header-swishies {
    width: 100%;
    position: absolute;
    top: rem(20px);
    z-index: 1;

    img {
      width: 100%;
      height: auto;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: rem(6px);

    @include bp-min(desktop) {
      gap: rem(14px);
    }

    li {
      @include type-scale(body, 14);
      font-size: rem(14px);
      text-indent: 0;
      // Setting a minimum height equal to the icon size to avoid icon overlap
      min-height: rem(34px);
      display: flex;
      align-items: center;

      @include bp-min(tablet) {
        @include type-scale(body, 16);
      }

      @include bp-min(desktop) {
        @include type-scale(body, 20);
      }

      @include bp-min(lg-desktop) {
        font-size: rem(22px);
      }

      &:nth-of-type(1) {
        .contact-icon {
          background-color: var(--aten-yellow);
        }
      }

      &:nth-of-type(2) {
        .contact-icon {
          background-color: var(--aten-green);
        }
      }

      &:nth-of-type(3) {
        .contact-icon {
          background-color: var(--aten-purple);
        }
      }

      &:nth-of-type(4) {
        .contact-icon {
          background-color: var(--aten-red);
        }
      }

      &:nth-of-type(5) {
        .contact-icon {
          background-color: var(--aten-orange-dark);
        }
      }

      .contact-icon {
        @include font-material-icons;
        font-size: rem(18px);
        width: rem(24px);
        height: rem(24px);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        margin-right: rem(12px);
        flex-shrink: 0;

        @include bp-min(tablet) {
          width: rem(34px);
          height: rem(34px);
          font-size: rem(20px);
        }

        @include bp-min(desktop) {
          width: rem(44px);
          height: rem(44px);
          font-size: rem(22px);
        }
      }
    }
  }

  .info-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: rem(4px) rem(24px) rem(8px);

    @include bp-min(sm-desktop) {
      flex-shrink: 0;
      padding: rem(60px);
      width: 43%;
    }
  }

  .information-header-block-wrapper {
    position: relative;
    z-index: 2;
  }

  .information-header-block-content {
    background-color: var(--white);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    overflow: hidden;
    margin-top: rem(22px);
    width: 100%;

    @include bp-min(sm-desktop) {
      display: flex;

      &:not(.has-image) {
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: rem(20px) rem(40px);
          margin-bottom: 0;

          li {
            width: 30%;
            margin-bottom: 0;

            &.additional-info {
              flex-grow: 1;
            }
          }
        }

        .info-wrapper {
          width: 100% !important;
        }
      }
    }

    .information-header-image-wrapper {
      width: 100%;
      height: rem(180px);
      overflow: hidden;
      background-position: center center;
      background-size: cover;

      @include bp-min(sm-desktop) {
        width: 57%;
        height: auto;
        min-height: rem(260px);
      }

      @include bp-min(desktop) {
        min-height: rem(480px);
      }

      @include bp-min(lg-desktop) {
        min-height: rem(520px);
      }
    }
  }

  hr {
    display: none;

    @include bp-min(tablet) {
      display: block;
      width: rem(120px);
      border-bottom-width: rem(8px);
      margin: rem(32px) auto rem(24px) 0;
    }

    @include bp-min(desktop) {
      margin: rem(48px) auto rem(54px) 0;
    }
  }

  h1 {
    @include type-scale(heading, h1);
    color: var(--white);
    font-weight: var(--aten-fw-bold);
  }

  h2.title {
    @include type-scale(heading, h6);
    // Explicitly setting font size as it does not change with screen size
    font-size: rem(14px);
    font-weight: var(--aten-fw-bold);
    margin-top: rem(20px);

    @include bp-min(sm-desktop) {
      margin-top: 0;
    }
  }
}
