/* Image Component styling */
#ccc-site figure.wp-block-image,
figure.wp-block-image {

    &.is-style-rounded-corners {
        img {
            border-radius: rem(20px);
        }
    }

    figcaption {
        font-style: italic;
        text-align: left;
        margin-top: rem(4px);
        margin-bottom: 0;
    }

    &.alignleft {
        padding-right: rem(15px);
    }

    &.alignright {
        padding-left: rem(15px);

        figcaption {
            padding-left: rem(15px);
        }
    }

    @include bp-max(smdesk) {
        float: none;

        &:not(.alignfull):not(.aligncenter) {
            margin-left: var(--responsive--alignleft-margin);
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;

            figcaption {
                padding-left: 0;
                padding-right: 0;
            }
        } 
    }

    @include bp-max(tablet) {
        margin-right: auto!important;
        margin-left: auto!important;
        width: 100%;
        max-width: calc(100% - (2 * var(--global--spacing-horizontal)));

        img {
            width: 100%;
        }
    }
}