/* Image Gallery Block styling */
#ccc-site .image-gallery-block,
.image-gallery-block {
    max-width: rem(1500px);

    .masonry-grid {
        > ul {
            list-style-type: none;
            padding: 0;
            margin: 0; 

            > li {
                .image-lightbox-content {
                    display: none;
                }
            }
        }

        .grid-img {
            max-width: none!important;
        }

        .masonry-grid-img {
            .caption-wrapper {
                display: flex;
                flex-wrap: nowrap;
                gap: rem(20px);
                margin-top: rem(12px);
                align-items: center;

                .img-caption {
                    flex-grow: 1;
                    text-align: left;
                    font-style: italic;
                }

                .img-download-link {
                    flex-shrink: 0;
                    position: relative;
                    padding-right: rem(24px);
                    outline-color: var(--purple)!important;
                    outline-offset: rem(4px);

                    &::after {
                        content: "";
                        background-image: url('../ccc/assets/icons/ui/purple/arrow_download.svg');
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        display: inline;
                        position: absolute;
                        width: rem(18px);
                        height: rem(20px);
                        right: 0;
                        top: 55%;
                        transform: translate(0, -50%);
                    }

                    &:hover,
                    &:focus {
                        &::after {
                            background-image: url('../ccc/assets/icons/ui/dark_purple/arrow_download.svg');
                        }
                    }
                }

                .img-caption,
                .img-download-link {
                    margin: 0;
                    @include font-body-14;
                }
            }

            .masonry-lightbox-image {
                outline-color: var(--purple)!important;
                outline-offset: rem(4px);
            }
        }
    }

    @include bp-min(smdesk) {
        padding-left: rem(60px);
        padding-right: rem(60px);
    }

    @include bp-min(lgdesk) {
        padding-left: rem(50px);
        padding-right: rem(50px);
    }

    @include bp-max(lgdesk) {
        @include l-narrow;
    }

    @include bp-max(smdesk) {
        padding-left: var(--global--spacing-horizontal);
        padding-right: var(--global--spacing-horizontal);
    }
}

.image-gallery-lightbox:not(.video-gallery-lightbox) {
    background-color: #000;

    .tobii__slider {

        .tobii__slide {

            .tobii-html {
                max-width: none;
                max-height: none;
                width: 75vw;

                .image-lightbox-content {
                    display: block;
                }

                @include bp-max(tablet) {
                    position: relative;
                    // Offset to avoid overlap with nav controls
                    top: -5vh;
                }
            }

            .tobii-group-masonry-grid-lightbox {
                background-color: #000;

                .caption-wrapper {
                    * {
                        color: var(--white)!important;
                    }
                }
            }

            .lightbox-image {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                > img {
                    max-width: 75vw!important;
                    width: auto!important;
                    height: auto!important;
                    max-height: 65vh!important;

                    @include bp-max(tablet) {
                        max-height: 50vh!important;
                    }
                }

                .caption-wrapper {
                    width: 100%;
                    max-width: 75vw;
                    text-align: left;
                    display: flex;
                    gap: rem(8px);
                    margin-top: rem(8px);
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;

                    figcaption {
                        text-align: left;
                        margin: 0;
                        width: 100%;
                        font-style: italic;

                        @include bp-min(tablet) {
                            max-width: rem(400px);
                        }

                        @include bp-max(tablet) {
                            font-size: rem(12px);
                        }
                    }

                    .img-download-link {
                        flex-shrink: 0;
                        @include font-body-14;
                        position: relative;
                        padding-right: rem(24px);
                        display: flex;
                        align-items: center;
                        outline-color: var(--white);
                        outline-width: rem(1px);
                        outline-offset: rem(3px);

                        &::after {
                            content: "";
                            background-image: url('../ccc/assets/icons/ui/white/arrow_download.svg');
                            background-size: contain;
                            background-position: center center;
                            background-repeat: no-repeat;
                            display: inline;
                            position: absolute;
                            width: rem(18px);
                            height: rem(18px);
                            right: 0;
                            top: 55%;
                            transform: translate(0, -50%);
                        }

                        @include bp-max(tablet) {
                            font-size: rem(12px);
                        }
                    }

                    @include bp-min(tablet) {
                        max-width: 50vw;
                        justify-content: space-evenly;
                        flex-wrap: nowrap;
                        gap: rem(20px);
                        margin-top: rem(16px);
                    }
                }
            }
        }
    }

    .tobii__btn.tobii__btn--close {
        right: rem(20px);
        top: rem(20px);
        height: rem(52px);
        width: rem(52px);
        outline-offset: rem(4px);
        outline-width: rem(1px);
        border-radius: rem(8px);
        outline-color: var(--white);
        background-color: transparent;
        border-color: transparent;
        opacity: 1;

        > svg {
            transform: none;
            opacity: 1!important;

            path {
                stroke: var(--white);
            }
        }
    }

    .lightbox-controls {
        position: absolute;
        bottom: 2vh;
        left: 8vw;
        height: rem(100px);
        width: auto;
        display: flex;
        align-items: center;
        gap: rem(20px);

        > * {
            position: static;
        }

        .tobii__counter {
            @include font-body-14;
            height: auto;
            width: auto;
        }

        .tobii__btn.tobii__btn--previous,
        .tobii__btn.tobii__btn--next {
            height: rem(46px);
            width: rem(46px);
            opacity: 1!important;
            outline-offset: 0;
            outline-color: var(--white);
            outline-width: rem(1px);
            border-radius: rem(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: none;
            background-color: transparent;

            > svg {
                height: rem(36px);
                width: rem(36px);

                path {
                    stroke: var(--white);
                }
            }

            &:hover {
                border-color: var(--white);

                * {
                    color: var(--white);
                }
            }
        }
    }
} 
