/* Taxonomy Term Block Styling */
#ccc-site .resource-taxonomy-term-wrapper,
.wp-toolbar #wpcontent .resource-taxonomy-term-wrapper {
    background-color: var(--pale-cloud-gray);
    padding: rem(20px);
    display: flex;
    flex-direction: column;
    gap: rem(20px);

    .publication-information {
        display: flex;
        flex-direction: column;
        gap: rem(4px);
        flex-shrink: 0;
        justify-content: center;

        p {
            @include font-body-16;
            @include font-weight-bold;
        }
    }

    .taxonomy-button-wrapper {

        .taxonomy-button-list {
            @include list--unordered-flex(row, rem(20px));
            flex-wrap: wrap;
            align-items: center;
    
            .taxonomy-button a {
                @include font-body-16;
                color: var(--purple);
                text-decoration: none;
                display: inline-block;
                padding: rem(8px) rem(12px);
                border-radius: rem(6px);
                border: rem(2px) solid var(--purple);
                transition: all .3s ease;
                outline-color: var(--dark-purple);
    
                &:hover,
                &:focus {
                    text-decoration: underline;
                    color: var(--dark-purple);
                    border-color: var(--dark-purple);
                }
            }

            @include bp-min(smdesk) {
                max-width: rem(510px);
            }
        }

        @include bp-min(smdesk) {
            padding-left: rem(40px);
            border-left: rem(2px) solid var(--gray);
        }
    }

    @include bp-min(tablet) {
        padding: rem(40px);
        border-radius: rem(20px);
    }

    @include bp-min(smdesk) {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: rem(40px);
    }

    @include bp-max(tablet) {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }
}
