@use '../../../libraries/partials/partials' as *;

// Featured Link Cards styles
.link-grid-block {
  text-align: center;

  > img {
    width: rem(44px);
    margin-bottom: rem(12px);

    @include bp-min(tablet) {
      width: rem(60px);
    }
  }

  ul.link-grid-wrapper {
    display: flex;
    flex-flow: wrap;
    gap: rem(4px);
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: rem(32px) 0;

    @include bp-min(tablet) {
      gap: rem(30px);
      padding: rem(48px) 0 rem(52px);
    }

    @include bp-min(sm-desktop) {
      padding-top: rem(80px);
      padding: rem(80px) 0 rem(52px);
    }

    li {
      align-items: flex-start;
      background-color: var(--aten-gray);
      border-radius: var(--default-border-radius);
      display: flex;
      padding: rem(20px);
      width: 100%;

      @include bp-min(tablet) {
        display: block;
        padding: rem(28px) rem(20px);
        // Setting width to include padding
        width: calc(47% - rem(40px));
      }

      @include bp-min(sm-desktop) {
        padding: rem(32px) rem(20px) rem(40px);
        // Setting width to include padding
        width: calc(31% - rem(40px));
      }

      @include bp-min(desktop) {
        // Setting width to include padding
        width: calc(22% - rem(40px));
      }

      .link-icon {
        @include font-material-icons;
        margin-right: rem(12px);
        padding-top: rem(4px);

        @include bp-min(tablet) {
          margin-right: 0;
          margin-bottom: rem(8px);
        }
      }

      .text-wrapper {
        text-align: left;
        text-indent: 0;

        @include bp-min(tablet) {
          text-align: center;
        }
      }
    }
  }
}
