@use '../../../libraries/partials/partials' as *;

// Location Block component styles
.locations-block-component {
  ul {
    list-style-type: none;
    padding: 0;
    text-indent: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  li.location-item {
    border-radius: var(--default-border-radius);
    background-color: var(--aten-blue-light);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;

    @include bp-min(sm-desktop) {
      flex-direction: row;
    }

    .location-image {
      width: 100%;
      height: rem(240px);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        transition: 0.75s;
      }

      &.custom-image {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      &.default-image {
        display: none;
      }

      &.custom-image.image-zoom {
        img {
          transform: scale(1.1);
        }
      }

      @include bp-min(sm-desktop) {
        height: auto;
        align-items: flex-start;

        &.custom-image {
          width: rem(300px);
          flex-shrink: 0;
        }

        &.default-image {
          display: flex;
          width: rem(100px);
          min-width: rem(100px);
          justify-content: flex-end;
        }
      }
    }

    .location-information {
      @include bp-min(sm-desktop) {
        flex-grow: 1;
      }
    }

    h2 {
      @include type-scale(body, 20);
      font-weight: var(--aten-fw-bold);

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    ul.location-details {
      li {
        display: flex;
        @include type-scale(body, 16);
      }

      .contact-icon {
        @include font-material-icons;
        color: var(--aten-green-dark);
      }
    }
  }
}
