/* Pagination Styling */
.wp-block-query-pagination {
  margin-top: rem(24px);
  margin-left: rem(4px);

  @include bp-min(tablet) {
      margin-top: rem(40px);
      margin-left: 0;
  }

  .wp-block-query-pagination-previous,
  .wp-block-query-pagination-next {
      display: none;
      text-decoration: none;
      width: rem(30px);
      height: rem(30px);

      &:hover,
      &:focus {
          .pagination-icon {
              border-color: var(--aten-blue-dark);
              background-color: var(--aten-blue-light);
          }
      }

      @include bp-min(tablet) {
          display: block;
      }
      
      .pagination-icon {
          @include font-material-icons;
          width: rem(30px);
          height: rem(30px);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: rem(24px);
          border-radius: 50%;
          border: 1px solid transparent;
  
          @include bp-min(tablet) {
              font-size: rem(28px);
          }
      }
  }

  .page-numbers {
      @include font-body-14;
      height: rem(30px);
      width: rem(30px);
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: rem(16px);
      font-weight: var(--font-weight-bold);
      text-indent: 0;
      margin-right: rem(12px);

      &:not(.current):not(.dots) {
          border: rem(1px) solid var(--default-border-ci);
          text-decoration: none;

          &:hover,
          &:focus {
              background-color: var(--aten-blue-light);
              text-decoration: underline;
          }
      }

      &.current {
        color: var(--black);
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--aten-blue-dark);
            text-decoration: underline;
        }
      }
  }

  ol.pagination-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: rem(12px);

      @include bp-max(tablet) {
        flex-wrap: wrap;
      }

      li.pagination-item {
          .page-numbers {
              margin-right: 0;
          }
      }
  }
}