// Header classes
// -----------------------------------
h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

h4 {
  @include font-h4;
}

h5 {
  @include font-h5;
}

h6 {
  @include font-h6;
}

// Font Body classes
// -----------------------------------

.font-body-20 {
  @include font-body-20;
}

.font-body-18 {
  @include font-body-18;
}

.font-body-16 {
  @include font-body-16;
}

.font-body-14 {
  @include font-body-14;
}

// Rule
hr {
  border: 0;
  border-bottom: 2px solid var(--cloud-grey);

  &.gold {
    border-color: var(--aten-yellow);
  }

  &.black {
    border-color: var(--black);
  }
}

p {
  @include font-body-18;

  @include bp-max(smdesk) {
    & span[style="font-size: 20px;"],
    &.has-large-font-size {
      font-size: rem(18px)!important;
      line-height: rem(28px)!important;
    }

    & span[style="font-size: 16px;"],
    &.has-small-font-size {
      font-size: rem(14px)!important;
      line-height: rem(22px)!important;
    }
  }

  @include bp-max(tablet) {
    & span[style="font-size: 20px;"],
    &.has-large-font-size {
      font-size: rem(16px)!important;
      line-height: rem(24px)!important;
    }

    & span[style="font-size: 16px;"],
    &.has-small-font-size {
      font-size: rem(12px)!important;
      line-height: rem(18px)!important;
    }
  }
}

// Label classes
// -----------------------------------

.label-20 {
  @include font-label-20;
}

.label-18 {
  @include font-label-18;
}

.label-16 {
  @include font-label-16;
}

.label-14 {
  @include font-label-14;
}

.label-12 {
  @include font-label-12;
}

// Links
// -----------------------------------
a {
  color: var(--aten-blue-dark);
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active {
    color: var(--aten-blue-dark);
    text-decoration: none;
  }

  // Support inverted text underline
  &.inverse {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

// Lists
// ------------------
ol {
  @include font-body-18;
  text-indent: rem(2px);
  padding-inline-start: rem(20px);
}

ul {
  @include font-body-18;
  text-indent: rem(4px);
  padding-inline-start: rem(18px);
}

//Visually Hidden
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
