@use '../../../libraries/partials/partials' as *;

/* Jump Link Block styling */

.jump-link-block {
  * {
    text-indent: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--aten-fw-bold);
  }

  h2.jump-link-section-title {
    @include type-scale(heading, h3);
    font-weight: var(--aten-fw-bold);
  }

  h2.jump-link-block-title,
  h2.jump-link-section-title {
    text-indent: 0;
    display: inline-block;
  }

  .jump-link-list,
  .jump-link-sections,
  .jump-link-section-content {
    list-style-type: none;
    padding: 0;
  }

  .jump-link-section-content-item {
    .resources-block {
      ul {
        li.resource {
          width: 100%;

          @include bp-min(desktop) {
            width: calc(50% - rem(8px));
          }
        }
      }

      .resource-icon {
        color: var(--black);
      }
    }

    iframe {
      max-width: 100%;
    }
  }

  .jump-link-section {
    position: relative;
  }

  .a11y-visible.skip-link {
    &:focus {
      clip: auto !important;
      clip-path: none;
      color: var(--aten-blue-dark);
      display: block;
      font-size: 1em;
      height: auto;
      line-height: normal;
      padding: rem(4px);
      text-decoration: underline;
      width: auto;
      margin-left: rem(16px);
      display: inline;
    }
  }
}
