@use '../../../libraries/partials/partials' as *;

.pullquote-block.pullquote-component {

  .pullquote-text {
    blockquote {
      display: block;
      max-width: none;
    }

    .pullquote-citation {
      margin-block-start: 1em;

      cite {
        @include type-scale(body, 18);
        font-weight: var(--aten-fw-bold);
        font-style: normal;
      }
    }
  }

  .pullquote-image {
    border-radius: var(--default-border-radius);
    overflow: hidden;
    flex-shrink: 0;

    img {
      height: 100%;
      width: auto;
      max-width: none;
    }
  }
}
