@media (min-width: 768px) {
  .aten-fse-sidebar-contact-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .aten-fse-sidebar-contact-group {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .aten-fse-sidebar-contact-group {
    flex-wrap: wrap;
  }
}

.aten-fse-contact-info {
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .aten-fse-contact-info {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .aten-fse-contact-info {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .aten-fse-contact-info {
    width: 100%;
    border-top: 0.125rem solid var(--gray-grey);
  }
}
@media (min-width: 1400px) {
  .aten-fse-contact-info {
    border: 0;
    margin-top: 0;
    margin-bottom: 0.125rem;
  }
}
.aten-fse-contact-info h2.title {
  font-size: var(--aten-fs-heading-h6);
  line-height: var(--aten-lh-heading-h6);
  font-size: 0.875rem;
  font-weight: var(--aten-fw-bold);
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .aten-fse-contact-info h2.title {
    margin-top: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .aten-fse-contact-info h2.title {
    margin-top: 1.75rem;
  }
}
.aten-fse-contact-info ul {
  list-style-type: none;
  padding: 0;
}
.aten-fse-contact-info ul li {
  font-size: var(--aten-fs-body-16);
  line-height: var(--aten-lh-body-16);
  font-size: 1rem;
  margin-bottom: 1rem;
  text-indent: 0;
  min-height: 2.125rem;
  display: flex;
}
.aten-fse-contact-info ul li .contact-icon {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-size: 1.125rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 1rem;
  flex-shrink: 0;
}
.aten-fse-contact-info ul li .contact-icon.call {
  background-color: var(--aten-orange-dark);
}
.aten-fse-contact-info ul li .contact-icon.address {
  background-color: var(--aten-green);
}
.aten-fse-contact-info ul li .contact-icon.hours {
  background-color: var(--aten-yellow);
}
.aten-fse-contact-info ul li .contact-icon.email {
  background-color: var(--aten-red);
}