// Layout Mixins

@mixin a11y-visible {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin object-fit-image-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
