.column-block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.75rem;
  margin-bottom: 1.75rem;
}
@media (min-width: 768px) {
  .column-block ul {
    gap: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
.column-block .column-block-column {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center calc(100% - 1.75rem);
  border-radius: var(--default-border-radius);
}
@media (min-width: 768px) {
  .column-block .column-block-column {
    background-position: center calc(100% - 0.625rem);
  }
}
@media (min-width: 1400px) {
  .column-block .column-block-column {
    background-position: center calc(100% - 0.9375rem);
  }
}
.column-block .column-block-column:nth-child(1) {
  background-color: var(--aten-gray);
  background-image: url("../aten-fse/assets/img/column-swishies_bright-blue.svg");
}
.column-block .column-block-column:nth-child(2) {
  background-color: var(--aten-orange-dark);
  background-image: url("../aten-fse/assets/img/column-swishies_tangerine.svg");
}
.column-block .column-block-column:nth-child(3) {
  background-color: var(--aten-green);
  background-image: url("../aten-fse/assets/img/column-swishies_light-green.svg");
}
.column-block .column-block-column > .wave-border {
  background-color: var(--white);
}
.column-block .column-block-column.single-column {
  background-position: center calc(100% - 1.75rem);
}
@media (min-width: 768px) {
  .column-block .column-block-column.single-column {
    background-position: center calc(100% - 4.375rem);
  }
}
@media (min-width: 1400px) {
  .column-block .column-block-column.single-column {
    background-image: url("../aten-fse/assets/img/column-swishies_bright-blue_large.svg");
    background-position: center calc(100% - 5rem);
  }
}
.column-block h2 {
  font-size: var(--aten-fs-heading-h3);
  line-height: var(--aten-lh-heading-h3);
  font-size: var(--font-size-h4);
  font-weight: var(--aten-fw-bold);
  text-indent: 0;
}
@media (min-width: 1024px) {
  .column-block h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.column-block p {
  text-indent: 0;
  font-size: var(--aten-fs-body-18);
  line-height: var(--aten-lh-body-18);
  margin: 0;
}
.column-block p a {
  font-weight: var(--aten-fw-bold);
}
.column-block .column-block-content {
  padding: 1.5rem;
}
.column-block .column-block-content > * {
  margin-bottom: 1rem;
}
.column-block .column-block-content > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .column-block .column-block-content {
    padding: 2rem;
  }
}
.column-block .column-block-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 14.375rem;
  overflow: hidden;
}
.column-block .column-block-image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.column-block .wave-border {
  display: none;
}
@media (min-width: 768px) {
  .column-block .wave-border {
    display: block;
  }
}
@media (min-width: 1400px) {
  .column-block .wave-border {
    max-width: 100%;
    margin: 0 auto;
  }
}
.column-block .wave-border,
.column-block .wave-border img {
  width: 100%;
}
.column-block a.button {
  text-indent: 0;
  padding-right: 2.25rem;
  position: relative;
}
@media (min-width: 768px) {
  .column-block a.button {
    padding-right: 3rem;
  }
}
.column-block a.button::after {
  display: none;
}
.column-block a.button .button-icon {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  position: absolute;
  color: var(--white);
  content: "arrow_circle_right";
  display: inline;
  font-size: 1.25rem;
  margin-left: 0.375rem;
}
@media (min-width: 768px) {
  .column-block a.button .button-icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 768px) {
  .column-block .column-layout-1 {
    margin-bottom: 0;
  }
  .column-block .column-layout-1 .column-block-content {
    padding: 3rem;
  }
  .column-block .column-layout-1 .column-block-image-wrapper {
    height: 26.875rem;
  }
}
@media (min-width: 1400px) {
  .column-block .column-layout-1 .column-block-column {
    max-width: 100%;
    margin: 0 auto;
  }
  .column-block .column-layout-1 .column-block-image-wrapper {
    height: 30.625rem;
  }
}
.column-block .column-layout-2 {
  flex-direction: column;
}
@media (min-width: 768px) {
  .column-block .column-layout-2 {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column-block .column-layout-2 .column-block-column {
    width: calc(50% - 0.125rem);
  }
}
@media (min-width: 1400px) {
  .column-block .column-layout-2 .column-block-image-wrapper {
    height: 20rem;
  }
}
.column-block .column-layout-3 {
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1399.98px) {
  .column-block .column-layout-3 .column-block-column {
    background-image: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .column-block .column-layout-3 .column-block-column:not(.with-image) {
    flex-direction: row;
  }
  .column-block .column-layout-3 .column-block-image-wrapper {
    width: 15.625rem;
    height: 11.25rem;
    flex-shrink: 0;
  }
}
@media (min-width: 1400px) {
  .column-block .column-layout-3 {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column-block .column-layout-3 .column-block-column {
    width: calc(33.3% - 0.125rem);
  }
  .column-block .column-layout-3 .column-block-image-wrapper {
    height: 13.375rem;
  }
}