@use '../../../libraries/partials/partials' as *;

/* Callout styles */
// Horizontal Style
.callout-link-component {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include bp-min(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  .callout-link-image {
    flex-shrink: 0;
    position: relative;
    width: 100%;

    img {
      left: 50%;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform-origin: center;
      transform: translate(-50%, -50%);
      width: auto;
    }
  }
}

// Vertical Style
.callout-block {
  .large {
    border-radius: var(--default-border-radius);
    padding: rem(24px);

    @include bp-min(tablet) {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom center;
      border-radius: rem(4px) rem(4px) 0 0;
      padding: rem(40px) rem(40px) rem(20px);
    }

    @include bp-min(sm-desktop) {
      padding: rem(60px) rem(60px) rem(32px);
    }
  }

  .small {
    border-radius: var(--default-border-radius);
    padding: rem(24px);

    @include bp-min(tablet) {
      padding: rem(32px);
    }

    @include bp-min(lg-desktop) {
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
    }
  }
}
