@use '../../partials/partials' as *;
/*
* Main Navigation menu styles.
* High levels of specificity needed throughout to override Mega Max Menu styling
*/

// Menu icons
header #mega-menu-wrap-main-nav,
header #mega-menu-wrap-primary {
  .mega-menu-link {
    &.hidden {
      // Overriding WP Default
      visibility: hidden !important;
      height: 0px !important;
      width: 0px !important;
      opacity: 0 !important;
    }
  }

  // Overriding global focus styles from Mega Menu, reverting to browser defaults
  &.mega-keyboard-navigation {
    .mega-menu-toggle:focus,
    .mega-toggle-block:focus,
    .mega-toggle-block a:focus,
    .mega-toggle-block .mega-search input[type='text']:focus,
    .mega-toggle-block button.mega-toggle-animated:focus,
    #mega-menu-primary a:focus,
    #mega-menu-primary span:focus,
    #mega-menu-primary input:focus,
    #mega-menu-primary li.mega-menu-item a.mega-menu-link:focus,
    #mega-menu-main-nav a:focus,
    #mega-menu-main-nav span:focus,
    #mega-menu-main-nav input:focus,
    #mega-menu-main-nav li.mega-menu-item a.mega-menu-link:focus {
      outline: -webkit-focus-ring-color auto 1px !important;
      outline-color: -webkit-focus-ring-color !important;
      outline-style: auto !important;
      outline-width: 1px !important;
      outline-offset: 0 !important;
    }
  }

  .menu-icon {
    @include font-material-icons;
    display: block;
    font-size: rem(18px);
    text-decoration: none;

    &.expand {
      vertical-align: middle;
      border-radius: 100%;
      display: inline-block;
      height: rem(24px);
      width: rem(24px);
      padding-left: rem(1px);
      box-sizing: border-box;
      transition: all 0.3s ease;
      margin-right: rem(12px);

      @include bp-min(lg-desktop) {
        font-size: rem(21px);
      }

      @include bp-max(sm-desktop) {
        padding: 0;
        padding-top: rem(3px);
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

header #mega-menu-wrap-main-nav {
  background-color: var(--aten-blue-dark);
  width: 100vw;
  padding: rem(32px);

  @include bp-min(lg-desktop) {
    padding: rem(32px) rem(80px);
  }

  &:after {
    // Overriding the overlay from Mega Menu
    display: none !important;
  }

  #mega-menu-main-nav {
    display: flex;
    justify-content: space-between;
    max-width: rem(1620px);
    margin: 0 auto;

    @media (min-width: 1660px) {
      // justify-content: center;
      // // Offset for 80px gap including padding for down arrow icons
      // gap: rem(67px);
    }

    button:not(.wp-block-search__button) {
      border: 0;
      background-color: var(--transparent);
      @include type-scale(label, 14);
      font-weight: var(--aten-fw-bold);
      color: var(--white);

      @include bp-min(lg-desktop) {
        @include type-scale(label, 16);
        font-weight: var(--aten-fw-bold);
      }
    }

    > li.mega-menu-item {
      &.mega-current-menu-item {
        > a.mega-menu-link {
          // Overriding Mega Menu styling
          background-color: var(--transparent) !important;
        }
      }
    }

    > li.mega-menu-item.mega-menu-flyout {
      .mega-menu-button {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding-right: rem(42px);
        @include type-scale(label, 20);

        @include bp-max(lg-desktop) {
          @include type-scale(label, 16);
        }

        @include bp-max(desktop) {
          @include type-scale(label, 14);
        }

        .menu-icon {
          position: absolute;
          right: 0;
          top: rem(1px);
          transition: all 0.4s ease;
        }

        @include bp-max(sm-desktop) {
          // Explicitly setting it to 16px per Figma
          font-size: rem(16px);

          .menu-icon.expand {
            font-size: rem(24px);
            // Overriding Chrome default
            position: absolute;
            left: 0;
            top: rem(4px);
          }
        }

        &:hover,
        &:focus {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      &.mega-toggle-on {
        .expand {
          transform: rotateX(-180deg);
          top: rem(7px);
        }
      }

      ul.mega-sub-menu {
        background-color: var(--white);
        padding: rem(20px) rem(20px) rem(8px) rem(46px);
        border-radius: var(--default-border-radius);
        box-shadow: var(--default-box-shadow);
        min-width: rem(320px);
        margin-top: rem(16px);

        li.mega-menu-item {
          a.mega-menu-link {
            @include type-scale(body, 16);
            color: var(--black);
            background-color: var(--transparent);
            margin-bottom: rem(12px);
            display: inline-flex;
            // Offset for icon
            padding: 0 0 0 rem(26px);
            margin-left: rem(-26px);

            .menu-icon {
              color: var(--aten-blue-dark);
              margin-right: rem(8px);
              position: absolute;
              left: rem(10px);

              @include bp-min(sm-desktop) {
                left: 0;
              }
            }

            &:hover,
            &:focus {
              text-decoration: underline;
              color: var(--aten-blue-dark);

              .menu-icon {
                color: var(--aten-blue-dark);
              }
            }
          }

          &.mega-submenu-heading {
            // Offsetting width of the icon
            width: calc(100% + rem(26px));
            position: relative;
            left: rem(-26px);

            a {
              margin: rem(16px) 0 rem(12px);
              padding-left: rem(52px);
              font-weight: var(--aten-fw-bold);
              display: inline-flex;
              align-items: center;

              .menu-icon {
                background-color: var(--aten-yellow);
                border-radius: 100%;
                width: rem(26px);
                height: rem(26px);
                display: flex;
                align-items: center;
                justify-content: center;
                left: 0;
                color: var(--black);

                @include bp-min(sm-desktop) {
                  width: rem(38px);
                  height: rem(38px);
                }
              }

              &:hover,
              &:focus {
                color: var(--black);

                .menu-icon {
                  background-color: var(--aten-yellow);
                  color: var(--black);
                }
              }
            }

            &.mega-with-border {
              border-bottom: rem(2px) solid var(--cloud-grey);
              padding-bottom: rem(24px);
              margin-bottom: rem(20px);

              a {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &:last-child {
        ul.mega-sub-menu {
          right: 0;
        }
      }
    }
  }
}

// Styling for mobile
// mobile- and tablet- classes here are necessary to override Mega Max Menu defaults
header.mobile-layout,
header.tablet-layout {
  #mega-menu-wrap-main-nav {
    background-color: transparent;
    width: auto;
    padding: 0;

    .mega-menu-toggle {
      background-color: var(--transparent);

      &:after {
        // Overriding the overlay from Mega Menu
        display: none !important;
      }

      .mobile-menu-icon {
        @include font-material-icons;
        display: inline-block;
        font-size: rem(26px);
        text-decoration: none;
        vertical-align: middle;
        transition: all 0.3s ease;
        position: relative;
        top: -2px;
      }

      .mega-toggle-label {
        background-color: var(--aten-blue-dark);
        border-radius: rem(100px);
        height: auto;
        width: auto;
        padding: rem(6px) rem(10px) rem(3px) rem(16px);
        color: var(--white);
        @include type-scale(label, 20);
        font-weight: var(--aten-fw-bold);
        border: 0;

        &:focus,
        &:hover {
          cursor: pointer;
        }

        &[aria-expanded='true'] {
          .mobile-menu-icon {
            transform: rotateX(-180deg) translate(0px, 4px);
            top: 0;
          }
        }
      }

      & + #mega-menu-main-nav {
        // Ensuring the entire nav is off-screen before slide-in
        right: -100vw;

        @include bp-min(tablet) {
          right: -50vw;
        }

        li {
          // Removing the items from the tabindex when menu is offscreen
          display: none !important;
        }
      }

      &.mega-menu-open {
        &:after {
          display: none;
        }

        & + #mega-menu-main-nav {
          right: 0;

          li {
            // Restoring the items to the tabindex when menu is onscreen
            display: block !important;
          }
        }

        @include bp-min(tablet) {
          &:after {
            display: block;
          }
        }
      }
    }

    #mega-menu-main-nav {
      // Necessary to avoid jump during animation
      top: rem(70px);
      max-height: calc(100vh - rem(70px));
      background-color: var(--white) !important;
      padding: rem(12px) rem(32px) rem(108px) !important;
      width: 100% !important;
      max-width: 100% !important;
      box-shadow: var(--default-box-shadow);
      transition: all 0.5s ease;

      @include bp-min(tablet) {
        max-width: rem(375px) !important;
      }

      button:not(.wp-block-search__button) {
        color: var(--aten-blue-dark);
      }

      > li.mega-menu-item {
        margin: rem(20px) 0 0;

        .mega-menu-button {
          display: block;
          padding-right: rem(6px);
          padding-left: rem(36px);

          .menu-icon {
            position: static;
          }

          .expand {
            background-color: var(--aten-blue-light);
          }
        }

        &.mega-no-children {
          background-color: var(--aten-blue-light);
          padding: rem(9px) rem(12px) rem(9px) 0;
          border-radius: rem(100px);
          margin-bottom: rem(20px);

          &:hover,
          &:focus {
            background-color: var(--aten-blue);
          }

          a {
            color: var(--aten-blue-dark);
            @include type-scale(body, 16);
            font-weight: var(--aten-fw-bold);
            height: auto;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: rem(42px);

            .menu-icon {
              color: var(--aten-green-dark);
              margin-right: rem(14px);
              position: absolute;
              left: rem(10px);

              &.right {
                color: var(--aten-blue-dark);
                right: 0;
                left: auto;
                margin-right: 0;
                font-size: rem(24px);
              }
            }

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }

        &.mega-toggle-on {
          button:not(.wp-block-search__button) {
            color: var(--black);
          }

          .expand {
            background-color: var(--aten-yellow);

            @include bp-max(sm-desktop) {
              padding-top: rem(2px);
            }
          }
        }

        ul.mega-sub-menu {
          background-color: var(--aten-blue-light);
          padding: rem(12px) rem(20px) rem(20px) rem(36px);
          margin: rem(22px) 0;
          box-shadow: none;
          min-width: 0;

          li.mega-menu-item {
            a.mega-menu-link {
              margin-bottom: 0;
              margin-top: rem(8px);
              padding: 0 rem(10px) 0 rem(36px);
            }

            .menu-icon {
              left: rem(10px);

              &.expand {
                background-color: var(--aten-blue-light);
              }
            }

            &.mega-submenu-heading {
              // Offsetting width of the icon
              width: calc(100% + rem(16px));
              left: rem(-16px);

              a {
                margin: rem(12px) 0 rem(12px);
                padding-left: rem(34px);
              }

              .menu-icon {
                width: rem(26px);
                height: rem(26px);
              }

              &.mega-with-border {
                padding-bottom: rem(18px);
                margin-bottom: rem(12px);

                a {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
