@use '../../partials/partials' as *;

/* Table styles for child theme */
.wp-block-table {
  @include type-scale(body, 14);
  // Explicitly overriding font-size since the font is 14px on all bp
  font-size: rem(14px);
  display: flex;
  flex-direction: column-reverse;

  td {
    background-color: var(--aten-blue-light);
    border: 0;
    /* HEX value pulled from Figma */
    border-bottom: 1px solid #b6bdd1;
    padding: rem(12px);

    a {
      font-weight: var(--aten-fw-bold);
    }
  }

  @include bp-min(tablet) {
    &.is-style-wide {
      table {
        max-width: 100%;
      }

      th {
        padding: rem(12px);
      }

      tr {
        > :first-child {
          padding: rem(12px) rem(12px) rem(12px) rem(24px);
        }

        > :last-child {
          padding: rem(12px) rem(12px) rem(12px) rem(24px);
        }
      }
    }
  }
}

figcaption {
  font-style: italic;
  margin-bottom: rem(12px);
}

table {
  @include type-scale(body, 14);
  max-width: rem(788px);
  min-width: rem(600px);
}

th,
td,
thead,
tfoot {
  border: 0;
}

th {
  background-color: var(--aten-blue-dark);
  color: var(--white);
  padding: rem(8px) rem(12px);
  text-align: left;
}

td {
  background-color: var(--aten-blue-light);
  /* HEX value pulled from Figma */
  border-bottom: 1px solid #b6bdd1;
  padding: rem(12px);

  a {
    font-weight: var(--aten-fw-bold);
  }
}
