@use '../../../libraries/partials/partials' as *;

// Fetured Link Section styles
.featured-link-section-wrapper {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    text-indent: 0;
  }

  .featured-link-section {
    width: 100%;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    margin: 0 auto;

    @include bp-min(sm-desktop) {
      display: flex;
    }

    &.featured-link-section-2 {
      @include bp-min(sm-desktop) {
        flex-direction: row-reverse;
      }
    }

    h2 {
      @include type-scale(heading, h2);
    }
  }

  .title-pane {
    text-align: center;
    background-color: var(--aten-purple);
    position: relative;
    overflow: hidden;

    @include bp-min(tablet) {
      .button-link-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp-min(sm-desktop) {
          flex-wrap: wrap;
        }

        a {
          &::after {
            vertical-align: top;
          }
        }
      }
    }

    @include bp-min(sm-desktop) {
      width: 50%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include bp-min(desktop) {
      width: 60%;
    }

    @include bp-min(lg-desktop) {
      width: 62%;
    }

    .title-bg {
      background-size: cover;
      background-position: center center;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transition: 0.75s;

      &.image-zoom {
        transform: scale(1.1);
      }
    }

    .title-wrapper {
      position: relative;
      z-index: 2;
    }

    h2 {
      color: var(--white);
    }
  }

  .link-pane {
    @include bp-min(sm-desktop) {
      width: 50%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include bp-min(desktop) {
      width: 40%;
    }

    @include bp-min(lg-desktop) {
      width: 38%;
    }

    .mobile-title {
      h2 {
        color: var(--black);
      }
    }

    .button-link-wrapper {
      a.btn--black {
        padding: 0;
      }
    }
  }

  .listed-links {
    @include bp-min(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include bp-min(sm-desktop) {
      flex-direction: column;
    }

    li {
      display: flex;
      align-items: center;

      @include bp-min(tablet) {
        width: 48%;
      }

      @include bp-min(sm-desktop) {
        width: 100%;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    a {
      @include type-scale(heading, h4);
      color: var(--black);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  .list-link-icon {
    @include font-material-icons;
  }

  .desktop-title {
    display: none;

    @include bp-min(tablet) {
      display: block;
    }
  }

  .mobile-title {
    @include bp-min(tablet) {
      display: none;
    }
  }
}
