@use '../../../libraries/partials/partials' as *;

// Page header with subtitle styles
.page-header-component {
  position: relative;
  overflow: hidden;
  z-index: 2;

  .page-header-block {
    .header-content {
      position: relative;
    }

    &.header-with-image {
      background-size: cover;
      background-position: center;

      @include bp-max(sm-desktop) {
        // The important here is necessary to override the dynamic WP featured image background from the header component
        background-image: none !important;
      }
    }
  }

  .mobile-image {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: rem(220px);
    overflow-y: hidden;
    position: relative;
    width: 100%;

    @include bp-min(sm-desktop) {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
