@use '../../../libraries/partials/partials' as *;

// Page header with subtitle styles
.page-header-component {
  position: relative;
  z-index: 2;
  overflow: hidden;

  .page-header-block {
    .header-content {
      position: relative;
    }

    h1 {
      font-weight: var(--aten-fw-bold);
    }

    p {
      color: var(--aten-gray-dark);
      font-size: var(--font-size-h3);
    }

    &.header-with-image {
      background-size: cover;
      background-position: center;

      @include bp-max(sm-desktop) {
        // The important here is necessary to override the dynamic WP featured image background from the header component
        background-image: none !important;
      }

      h1,
      p {
        color: var(--white);
      }
    }
  }

  .mobile-image {
    width: 100%;
    min-height: rem(220px);
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp-min(sm-desktop) {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
