@use '../../../libraries/partials/partials' as *;

// Accent Text Block (Colored Rich Text Block) styling
.accent-text-block {
  @include bp-max(tablet) {
    width: 100vw;
  }

  .accent-text-block-component {
    width: 100%;
  }

  .accent-text-block-content {
    iframe {
      display: block;
      max-width: 100%;
    }

    p {
      &.paragraph-large {
        @include type-scale(body, 20);
      }

      &.paragraph-regular {
        @include type-scale(body, 18);
      }

      &.paragraph-small {
        @include type-scale(body, 16);
      }
    }
  }

  .resources-block-wrapper ul {
    margin: 0;
  }
}
