@use '../../../libraries/partials/partials' as *;

// Progress Block styles
.progress-block.l-full {
  &::before {
    background-color: var(--transparent);
  }

  background-color: var(--aten-blue-light);
  padding: rem(20px) rem(15px) rem(56px);

  @include bp-min(tablet) {
    background-image: url('../aten-hybrid/assets/img/progress-swishies.svg');
    background-position: top right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: rem(40px) rem(40px) rem(48px);
  }

  @include bp-min(sm-desktop) {
    background-position: center right;
  }

  hr {
    @include bp-min(tablet) {
      display: none;
    }
  }

  h2 {
    @include type-scale(heading, h2);
    // Explicitly setting mobile font size per Figma
    font-size: rem(20px);
    font-weight: var(--aten-fw-bold);
    color: var(--aten-blue-dark);
    text-align: center;

    @include bp-min(tablet) {
      font-size: var(--font-size-h2);
    }
  }

  h3 {
    @include type-scale(label, 18);
    font-weight: var(--aten-fw-bold);
    // Explicitly setting mobile font size per Figma
    font-size: rem(12px);
    margin: rem(24px) auto rem(16px) 0;
    text-indent: 0;

    @include bp-min(tablet) {
      font-size: rem(18px);
    }

    @include bp-min(sm-desktop) {
      margin-bottom: rem(28px);
    }
  }

  p.subtitle {
    text-align: center;
    @include type-scale(heading, h3);
    // Explicitly setting mobile font size per Figma
    font-size: rem(16px);
    margin-top: rem(12px);

    @include bp-min(tablet) {
      font-size: var(--font-size-h3);
      margin-top: rem(8px);
    }

    @include bp-min(sm-desktop) {
      font-size: rem(28px);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.progress-block-list-wrapper {
    margin: rem(24px) auto 0;
    display: flex;
    flex-direction: column;
    gap: rem(24px);
    max-width: rem(1440px);

    @include bp-min(tablet) {
      margin-top: rem(24px);
    }

    @include bp-min(sm-desktop) {
      margin-top: rem(36px);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: rem(40px);
    }

    &.col-count-1 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: 100%;
        }
      }
    }

    &.col-count-2 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: calc(50% - 20px);
        }
      }
    }

    &.col-count-3 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: calc(33.3% - rem(26.5px));
        }
      }
    }

    &.col-count-4 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: calc(50% - 20px);
        }

        @include bp-min(desktop) {
          width: calc(25% - 30px);
        }
      }
    }
  }

  ul.progress-links {
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    @include bp-min(tablet) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include bp-min(sm-desktop) {
      flex-direction: column;
      justify-content: flex-start;
      gap: rem(36px);
    }
  }

  li.progress-link {
    display: flex;
    align-items: center;
    position: relative;

    @include bp-min(tablet) {
      width: calc(50% - rem(8px));
    }

    @include bp-min(sm-desktop) {
      width: 100%;
    }

    .link-icon {
      @include font-material-icons;
      height: rem(24px);
      width: rem(24px);
      border-radius: 50%;
      background-color: var(--aten-blue);
      position: absolute;
      left: 0;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-indent: 0;
      color: var(--black);
      transform: translate(0, -50%);

      @include bp-min(tablet) {
        height: rem(48px);
        width: rem(48px);
        font-size: rem(26px);
      }
    }

    a {
      @include type-scale(heading, h4);
      font-weight: var(--aten-fw-bold);
      text-decoration: none;
      position: relative;
      // Offset for icon width
      padding-left: rem(32px);

      @include bp-min(tablet) {
        font-size: rem(18px);
        padding-left: rem(60px);
      }

      @include bp-min(sm-desktop) {
        font-size: var(--font-size-h4);
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .progress-block-column {
    hr {
      margin: 0;
    }

    &:nth-child(2) {
      li.progress-link .link-icon {
        background-color: var(--aten-yellow);
      }
    }

    &:nth-child(3) {
      li.progress-link .link-icon {
        background-color: var(--aten-green);
      }
    }

    &:nth-child(4) {
      li.progress-link .link-icon {
        background-color: var(--aten-blue-light);
      }
    }
  }
}

.progress-block-border {
  &,
  img {
    width: 100%;
  }

  img {
    height: auto;
  }
}
