@use '../../../libraries/partials/partials' as *;

// Progress Block styles
.progress-block.l-full {
  &::before {
    background-color: var(--transparent);
  }

  h2 {
    @include type-scale(heading, h2);
    font-weight: var(--aten-fw-bold);
    color: var(--aten-blue-dark);
    text-align: center;
  }

  h3 {
    @include type-scale(label, 18);
    font-weight: var(--aten-fw-bold);
    text-indent: 0;
  }

  p.subtitle {
    text-align: center;
    @include type-scale(heading, h3);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.progress-block-list-wrapper {
    display: flex;
    flex-direction: column;

    @include bp-min(sm-desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &.col-count-1 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: 100%;
        }
      }
    }

    &.col-count-2 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: calc(50% - rem(20px));
        }
      }
    }

    &.col-count-3 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: calc(33.3% - rem(26.5px));
        }
      }
    }

    &.col-count-4 {
      .progress-block-column {
        @include bp-min(sm-desktop) {
          width: calc(50% - rem(20px));
        }

        @include bp-min(desktop) {
          width: calc(25% - rem(30px));
        }
      }
    }
  }

  ul.progress-links {
    display: flex;
    flex-direction: column;

    @include bp-min(tablet) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include bp-min(sm-desktop) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  li.progress-link {
    display: flex;
    align-items: center;
    position: relative;

    @include bp-min(tablet) {
      width: calc(50% - rem(8px));
    }

    @include bp-min(sm-desktop) {
      width: 100%;
    }

    .link-icon {
      @include font-material-icons;
      height: rem(24px);
      width: rem(24px);
      border-radius: 50%;
      background-color: var(--aten-blue);
      position: absolute;
      left: 0;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-indent: 0;
      color: var(--black);
      transform: translate(0, -50%);

      @include bp-min(tablet) {
        height: rem(48px);
        width: rem(48px);
        font-size: rem(26px);
      }
    }

    a {
      @include type-scale(heading, h4);
      font-weight: var(--aten-fw-bold);
      text-decoration: none;
      position: relative;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .progress-block-column {
    &:nth-child(2) {
      li.progress-link .link-icon {
        background-color: var(--aten-yellow);
      }
    }

    &:nth-child(3) {
      li.progress-link .link-icon {
        background-color: var(--aten-green);
      }
    }

    &:nth-child(4) {
      li.progress-link .link-icon {
        background-color: var(--aten-blue-light);
      }
    }
  }
}

.progress-block-border {
  &,
  img {
    width: 100%;
  }

  img {
    height: auto;
  }
}
