.all-services-block {
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  .all-services-block {
    padding: 3.375rem 0;
  }
}
@media (min-width: 1024px) {
  .all-services-block {
    padding: 3.875rem 0;
  }
}
@media (min-width: 1200px) {
  .all-services-block {
    padding: 3.75rem 0;
  }
}
@media (min-width: 1400px) {
  .all-services-block {
    padding-top: 6rem;
  }
}
.all-services-block ul {
  list-style-type: none;
  padding: 0;
  text-indent: 0;
  margin: 0;
}
.all-services-block ul li {
  text-indent: 0;
}
.all-services-block .arrow-icon,
.all-services-block .jump-link-icon,
.all-services-block .service-icon,
.all-services-block .services-icon {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
.all-services-block h2 {
  font-size: var(--aten-fs-heading-h2);
  line-height: var(--aten-lh-heading-h2);
  font-weight: var(--aten-fw-bold);
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .all-services-block h2 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .all-services-block h2 {
    margin-bottom: 3.75rem;
  }
}
.all-services-block h3 {
  font-size: var(--aten-fs-heading-h3);
  line-height: var(--aten-lh-heading-h3);
  font-weight: var(--aten-fw-bold);
  display: flex;
  align-items: center;
}
.all-services-block h3 .jump-link-icon {
  margin-right: 0.75rem;
}
.all-services-block ul.jump-link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.125rem 1.5rem;
  padding: 1.03125rem 0 1.53125rem;
}
.all-services-block ul.jump-link-list li {
  width: calc(50% - 1.125rem);
  font-size: var(--aten-fs-body-14);
  line-height: var(--aten-lh-body-14);
}
.all-services-block ul.jump-link-list li a {
  font-weight: var(--aten-fw-bold);
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.all-services-block ul.jump-link-list li a:hover, .all-services-block ul.jump-link-list li a:focus {
  text-decoration: underline;
}
.all-services-block ul.jump-link-list li a .jump-link-icon {
  font-size: var(--font-size-body-20);
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .all-services-block ul.jump-link-list {
    gap: 1.25rem 5.875rem;
    padding: 1.25rem 0 3rem;
  }
  .all-services-block ul.jump-link-list li {
    width: calc(50% - 2.9375rem);
  }
  .all-services-block ul.jump-link-list li a {
    font-size: 1.125rem;
    padding-left: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .all-services-block ul.jump-link-list {
    gap: 1.25rem 6.75rem;
  }
  .all-services-block ul.jump-link-list li {
    width: calc(33.33% - 4.5rem);
  }
}
@media (min-width: 1200px) {
  .all-services-block ul.jump-link-list {
    gap: 1.25rem 3rem;
    padding-bottom: 3.75rem;
  }
  .all-services-block ul.jump-link-list li {
    width: calc(25% - 2.25rem);
  }
}
@media (min-width: 1400px) {
  .all-services-block ul.jump-link-list {
    gap: 1.25rem 6.25rem;
  }
  .all-services-block ul.jump-link-list li {
    width: calc(25% - 4.6875rem);
  }
}
.all-services-block li.services-section {
  padding: 1.5rem 0;
  border-top: 0.125rem solid var(--cloud-grey);
}
@media (min-width: 768px) {
  .all-services-block li.services-section {
    padding: 3rem 0;
  }
}
@media (min-width: 1400px) {
  .all-services-block li.services-section {
    border-top: 0px;
  }
}
.all-services-block li.services-section:first-child {
  border-top: 0.125rem solid var(--cloud-grey);
}
.all-services-block li.services-section h4.service-section-heading {
  font-size: var(--aten-fs-label-16);
  line-height: var(--aten-lh-label-16);
  font-weight: var(--aten-fw-bold);
  margin-bottom: 1rem;
  display: inline-block;
}
@media (min-width: 768px) {
  .all-services-block li.services-section h4.service-section-heading {
    margin-bottom: 2rem;
  }
}
.all-services-block ul.service-cards {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
@media (min-width: 768px) {
  .all-services-block ul.service-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem 1.875rem;
  }
}
.all-services-block ul.service-cards li.service-card {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: all 0.2s ease;
}
@media (min-width: 768px) {
  .all-services-block ul.service-cards li.service-card {
    background-color: var(--white);
    box-shadow: var(--default-box-shadow);
    flex-direction: column;
    width: calc(50% - 3.9375rem);
    gap: initial;
    padding: 2.75rem 1.5rem 1.5rem;
    text-align: center;
    position: relative;
    border-radius: var(--default-border-radius);
  }
}
@media (min-width: 1024px) {
  .all-services-block ul.service-cards li.service-card {
    width: calc(33.33% - 4.25rem);
  }
}
@media (min-width: 1200px) {
  .all-services-block ul.service-cards li.service-card {
    width: calc(25% - 4.4375rem);
  }
}
.all-services-block ul.service-cards li.service-card.focused, .all-services-block ul.service-cards li.service-card[focus-within] {
  box-shadow: none;
  background-color: var(--aten-blue-light);
}
.all-services-block ul.service-cards li.service-card.focused, .all-services-block ul.service-cards li.service-card:focus-within {
  box-shadow: none;
  background-color: var(--aten-blue-light);
}
.all-services-block ul.service-cards li.service-card .icon-container {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .all-services-block ul.service-cards li.service-card .icon-container {
    position: absolute;
    top: -0.75rem;
    height: 3rem;
    width: 3rem;
  }
}
.all-services-block ul.service-cards li.service-card .icon-container.color-1 {
  background-color: var(--aten-yellow);
}
.all-services-block ul.service-cards li.service-card .icon-container.color-2 {
  background-color: var(--aten-blue);
}
.all-services-block ul.service-cards li.service-card .icon-container.color-3 {
  background-color: var(--aten-green);
}
.all-services-block ul.service-cards li.service-card .icon-container.color-4 {
  background-color: var(--aten-blue-light);
}
.all-services-block ul.service-cards li.service-card .icon-container .service-icon {
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .all-services-block ul.service-cards li.service-card .icon-container .service-icon {
    font-size: 1.75rem;
  }
}
.all-services-block ul.service-cards .service-details p {
  margin: 0;
  font-size: var(--aten-fs-body-14);
  line-height: var(--aten-lh-body-14);
}
.all-services-block ul.service-cards .service-details p.service-title {
  font-weight: var(--aten-fw-bold);
}
@media (min-width: 768px) {
  .all-services-block ul.service-cards .service-details p.service-title {
    font-size: 1.125rem;
  }
}
.all-services-block ul.service-cards .service-details a {
  text-decoration: none;
}
.all-services-block ul.service-cards .service-details a:hover, .all-services-block ul.service-cards .service-details a:focus {
  text-decoration: underline;
}
.all-services-block a.back-to-top-btn {
  font-size: var(--aten-fs-label-14);
  line-height: var(--aten-lh-label-14);
  font-weight: var(--aten-fw-bold);
  color: var(--white);
  background-color: var(--aten-blue-dark);
  border-radius: 6.25rem;
  padding: 0.375rem 0.75rem 0.375rem 2.25rem;
  text-decoration: none;
  position: relative;
  margin: 0.625rem auto 1.25rem;
  display: inline-block;
}
.all-services-block a.back-to-top-btn:hover, .all-services-block a.back-to-top-btn:focus {
  background-color: var(--aten-blue-dark);
}
.all-services-block a.back-to-top-btn .arrow-icon {
  font-size: 1.125rem;
  position: absolute;
  left: 0.625rem;
}
.all-services-block .a11y-visible.skip-link:focus {
  clip: auto !important;
}
.all-services-block .a11y-visible.skip-link:focus {
  -webkit-clip-path: none;
          clip-path: none;
  color: var(--aten-blue-dark);
  display: block;
  font-size: 1em;
  height: auto;
  line-height: normal;
  padding: 0.25rem;
  text-decoration: underline;
  width: auto;
  margin-left: 1rem;
  display: inline;
}