@use '../../../libraries/partials/partials' as *;

.accordion-block {
  display: flex;
  flex-direction: column;

  .accordion-block-item {
    .accordion-block-panel {
      display: flex;
      flex-direction: column;
    }

    .wp-block-video {
      &,
      video {
        max-width: 100%;
        width: auto;
      }
    }

    .resources-block {
      ul {
        li.resource {
          width: 100%;
        }
      }
    }
  }

  .accordion-block-panel.collapsed {
    border-width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}
