/* Accordion Block Styling */
 .accordion-block,
.wp-toolbar #wpcontent .accordion-block {
    display: flex;
    flex-direction: column;
    gap: rem(24px);

    .accordion-block-button {
        @include btn-download(var(--gray));
        width: 100%;
        padding: rem(13px) rem(20px) rem(13px) rem(56px);
        text-decoration: underline;
        outline-color: var(--dark-purple);

        &:before {
            background-image: url('../ccc/assets/icons/ui/purple/add.svg')!important;
            width: rem(24px);
            height: rem(24px);
            margin-right: 0;
            left: rem(20px);

            @include bp-min(tablet) {
                width: rem(28px);
                height: rem(28px);
                left: rem(40px);
            }
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:focus {
            outline: rem(1px) solid var(--dark-purple)!important;
        }

        &[aria-expanded="false"]:hover,
        &[aria-expanded="false"]:focus {
            &:before {
                background-image: url('../ccc/assets/icons/ui/dark_purple/add.svg')!important;
            }
        }

        &[aria-expanded="true"] {
            background-color: var(--cloud-gray)!important;
            color: var(--dark-purple)!important;
            text-decoration: none;

            &:before {
                background-image: url('../ccc/assets/icons/ui/dark_purple/minus.svg')!important;
            }
        }

        @include bp-min(tablet) {
            padding: rem(20px) rem(40px) rem(20px) rem(80px);
        }
    }

    .accordion-block-panel {
        padding: rem(20px);
        display: flex;
        flex-direction: column;
        gap: rem(24px);
        border-bottom: rem(2px) solid var(--dark-purple);

        @include bp-min(tablet) {
            padding: rem(40px);
            gap: rem(40px);
        }
    }

    @include bp-min(tablet) {
        gap: rem(32px);
    }
}
