/* Dashboard Hero Styling */
 .dashboard-hero-component,
.wp-toolbar .dashboard-hero-component {
    padding: rem(240px) var(--global--spacing-horizontal) 0;
    position: relative;

    .dashboard-hero-text-wrap {
        position: relative;
        z-index: 2;

        h1,
        p {
            color: var(--white);
            max-width: rem(1280px);
        }

        h1 {
            @include bp-min(tablet) {
                font-size: var(--font-size-h100);
                line-height: var(--line-height-h100);
            }
        }

        .dashboard-hero-text {
            @include font-weight-bold;
            font-family: var(--font-family-mint);
            margin-top: rem(12px);

            @include bp-min(tablet) {
                font-size: var(--font-size-h48);
                line-height: var(--line-height-h48);
                margin-top: rem(20px);
            }
        }
    }

    @include bp-min(tablet) {
        padding-top: rem(224px);
    }

    @include bp-min(smdesk) {
        padding-top: rem(320px);
    }

    @include bp-min(lgdesk) {
        padding-top: rem(260px);
    }
}

.wp-block-acf-dashboard-hero {
    max-width: calc(100vw - 2 * var(--global--spacing-horizontal));

    .dashboard-hero-component {
        background-color: var(--dark-purple);
    }
}

