/* Dashboard Tool Panel Styling */
 .dashboard-tools-component,
.wp-toolbar .dashboard-tools-component {
    background-color: var(--white);
    position: relative;
    padding: rem(20px);
    border-radius: rem(12px);

    .tool-heading-wrap {
        display: flex;
        align-items: center;
        gap: rem(20px);

        h2 {
            @include font-label-18;
            @include headings;
            @include font-weight-bold;
            flex-shrink: 0;
        }

        hr {
            border-width: rem(1px);
            border-color: var(--medium-gray);
            width: 100%;
        }
    }

    .tool-card-list-wrap {
        margin-top: rem(20px);

        ul.tool-cards {
            @include list--unordered-flex(column, rem(40px));

            li.tool-card {
                padding: rem(20px);
                transition: all .3s ease;

                &.orange {
                    @include gradient-border(
                        rem(4px),
                        rem(12px) rem(12px) 0 0,
                        var(--white),
                        var(--orange),
                        #d89eb7
                    );

                    @include bp-min(tablet) {
                        @include gradient-border(
                            rem(4px),
                            rem(20px) rem(20px) 0 0,
                            var(--white),
                            var(--orange),
                            #d89eb7
                        );
                    }
                }

                &.red {
                    @include gradient-border(
                        rem(4px),
                        rem(12px) rem(12px) 0 0,
                        var(--white),
                        var(--red),
                        #d888b3
                    );

                    @include bp-min(tablet) {
                        @include gradient-border(
                            rem(4px),
                            rem(20px) rem(20px) 0 0,
                            var(--white),
                            var(--red),
                            #d888b3
                        );
                    }
                }

                &.purple {
                    @include gradient-border(
                        rem(4px),
                        rem(12px) rem(12px) 0 0,
                        var(--white),
                        var(--purple),
                        #c08df1
                    );

                    @include bp-min(tablet) {
                        @include gradient-border(
                            rem(4px),
                            rem(20px) rem(20px) 0 0,
                            var(--white),
                            var(--purple),
                            #c08df1
                        );
                    }
                }

                h3,
                h3 a {
                    @include font-h3;
                    @include font-weight-bold;
                    color: var(--dark-purple);

                    @include bp-min(tablet) {
                        font-size: var(--font-size-h48);
                        line-height: var(--line-height-h48);
                    }

                    @include bp-min(smdesk) {
                        font-size: var(--font-size-h32);
                        line-height: var(--line-height-h32);
                    }
                }

                h3 {
                    margin-top: rem(12px);
                    margin-bottom: rem(12px);

                    @include bp-min(tablet) {
                        margin-top: rem(20px);
                        margin-bottom: rem(20px);
                    }
                }

                h3 a {
                    text-decoration: none;
                    outline-color: var(--dark-purple);
                    outline-offset: rem(4px);
                    outline-width: rem(1px);

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }

                    @include bp-min(tablet) {
                        outline-width: rem(2px);
                    }
                }

                p {
                    @include bp-min(tablet) {
                        font-size: var(--font-size-h32);
                        line-height: var(--line-height-h32);
                    }

                    @include bp-min(smdesk) {
                        font-size: var(--font-size-h24);
                        line-height: var(--line-height-h24);
                    }
                }

                .card-icon {
                    width: rem(20px);
                    height: auto;

                    @include bp-min(tablet) {
                        width: rem(48px);
                    }
                }

                &:hover,
                &:focus,
                &:focus-within {
                    transform: scale(1.05);
                }

                @include bp-min(tablet) {
                    padding: rem(40px);
                }

                @include bp-min(lgdesk) {
                    width: 40%;
                }
            }

            @include bp-min(lgdesk) {
                flex-direction: row;
            }
        }

        @include bp-min(tablet) {
            margin-top: rem(40px);
        }

        @include bp-min(lgdesk) {
            margin-top: rem(60px);
        }
    }

    @include bp-min(tablet) {
        margin-top: rem(40px);
        padding: rem(40px);
        border-radius: rem(20px);
    }

    @include bp-min(smdesk) {
        padding: rem(60px);
    }

    @include bp-min(lgdesk) {
        max-width: var(--responsive--alignfull-width);
        width: auto;
        margin-left: var(--global--spacing-horizontal);
        margin-right: var(--global--spacing-horizontal);
        margin-top: rem(60px);
        padding: rem(80px);
    }
}

.wp-block-acf-dashboard-tools {
    max-width: calc(100vw - 2 * var(--global--spacing-horizontal));
}
