/* Homepage About Component Styles */

 .homepage-about-component,
.wp-toolbar .homepage-about-component {
    background-color: var(--white);
    border-radius: rem(12px);
    padding: rem(20px);
    position: relative;

    h3 {
        @include font-label-18;
        @include wide-letter-spacing;
        font-family: var(--font-family-mint);
        margin-top: rem(12px);
        margin-bottom: rem(12px);

        @include bp-min(tablet) {
            margin-top: 0;
            margin-bottom: rem(32px);
        }
    }

    p {
        margin-bottom: rem(12px);

        @include bp-min(tablet) {
            margin-bottom: rem(32px);
        }

        &:last-of-type {
            margin-bottom: 0!important;
        }
    }

    img.card-icon {
        width: rem(28px);
        height: auto;

        @include bp-min(tablet) {
            width: rem(48px);
            position: absolute;
            top: rem(20px);
            right: rem(20px);
        }
    }

    @include bp-min(tablet) {
        padding: rem(60px);
        border-radius: rem(20px);
    }
}
