// Heading Fonts

@mixin headings() {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  margin-bottom: 0;
  margin-top: 0;
}

@mixin font-h1() {
  @include headings();
  font-size: var(--font-size-h1);
  line-height: var(--font-line-height-h1);
}

@mixin font-h2() {
  @include headings();
  font-size: var(--font-size-h2);
  line-height: var(--font-line-height-h2);
}

@mixin font-h3() {
  @include headings();
  font-size: var(--font-size-h3);
  line-height: var(--font-line-height-h3);
}
@mixin font-h4() {
  @include headings();
  font-size: var(--font-size-h4);
  line-height: var(--font-line-height-h4);
}
@mixin font-h5() {
  @include headings();
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h5);
}
@mixin font-h6() {
  @include headings();
  @include labels();
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-regular);
}

// Main - Body Fonts
@mixin font-body-20() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-20);
  line-height: var(--font-line-height-body-20);
}
@mixin font-body-18() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-18);
  line-height: var(--font-line-height-body-18);
}
@mixin font-body-16() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-16);
  line-height: var(--font-line-height-body-16);
}
@mixin font-body-14() {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-14);
  line-height: var(--font-line-height-body-14);
}

// Main - Label Fonts
@mixin labels() {
  font-family: var(--font-family-sans);
  letter-spacing: rem(2px);
  font-style: normal;
  text-transform: uppercase;
}

@mixin font-label-20() {
  @include labels();
  font-size: var(--font-size-label-20);
  letter-spacing: rem(3px);
  line-height: var(--font-line-height-label-20);
}
@mixin font-label-18() {
  @include labels();
  font-size: var(--font-size-label-18);
  line-height: var(--font-line-height-label-18);
}
@mixin font-label-16() {
  @include labels();
  font-size: var(--font-size-label-16);
  line-height: var(--font-line-height-label-16);
}
@mixin font-label-14() {
  @include labels();
  font-size: var(--font-size-label-14);
  line-height: var(--font-line-height-label-14);
}
@mixin font-label-12() {
  @include labels();
  font-size: var(--font-size-label-12);
  line-height: var(--font-line-height-label-12);
}

// Google Material Symbols Icon Font
@mixin font-material-icons {
  font-family: var(--font-family-icons);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}