.rotating-banner-block {
  background-color: var(--aten-blue-light);
  margin-top: -1.25rem;
}
@media (min-width: 768px) {
  .rotating-banner-block {
    margin-top: -4.25rem;
  }
}
@media (min-width: 1024px) {
  .rotating-banner-block {
    margin-top: -3.125rem;
  }
}
@media (min-width: 1200px) {
  .rotating-banner-block {
    margin-top: -5rem;
  }
}
@media (max-width: 767.98px) {
  .rotating-banner-block .splide__arrows {
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.875rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .rotating-banner-block button.splide__arrow {
    position: static;
    transform: none;
  }
  .rotating-banner-block .rotating-banner-slide-content {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }
}
@media (max-width: 767.98px) and (min-width: 768px) {
  .rotating-banner-block .rotating-banner-slide-content {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
@media (max-width: 767.98px) and (min-width: 1024px) {
  .rotating-banner-block .rotating-banner-slide-content {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
}
@media (max-width: 767.98px) and (min-width: 1400px) {
  .rotating-banner-block .rotating-banner-slide-content {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    max-width: 101.25rem;
  }
}
@media (max-width: 767.98px) and (min-width: 1861px) {
  .rotating-banner-block .rotating-banner-slide-content {
    margin-left: auto;
    margin-right: auto;
  }
}
.rotating-banner-block #rotating-banner {
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .rotating-banner-block #rotating-banner {
    width: calc(100% - 11.25rem);
    max-width: 86.25rem;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .rotating-banner-block #rotating-banner {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 1400px) {
  .rotating-banner-block #rotating-banner {
    padding-bottom: 2.5rem;
  }
}
.rotating-banner-block button.splide__arrow {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-size: 2.125rem;
  padding: 0;
  background-color: var(--transparent);
  width: auto;
  height: auto;
  line-height: 1;
  color: var(--aten-blue-dark);
  opacity: 1;
}
@media (min-width: 768px) {
  .rotating-banner-block button.splide__arrow {
    top: calc(50% - 0.625rem);
  }
  .rotating-banner-block button.splide__arrow.splide__arrow--prev {
    left: -3.125rem;
  }
  .rotating-banner-block button.splide__arrow.splide__arrow--next {
    right: -3.125rem;
  }
}
@media (min-width: 1200px) {
  .rotating-banner-block button.splide__arrow {
    top: calc(50% - 2.125rem);
  }
}
.rotating-banner-block button.splide__arrow:hover, .rotating-banner-block button.splide__arrow:focus {
  color: var(--aten-blue-dark);
}
.rotating-banner-block .splide__slide {
  padding-bottom: 1.25rem;
}
.rotating-banner-block .rotating-banner-slide-content {
  background-color: var(--white);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  height: 100%;
}
@media (min-width: 768px) {
  .rotating-banner-block .rotating-banner-slide-content {
    display: flex;
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-image {
  width: 100%;
  height: 13.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-image {
    width: 44%;
    height: 11.875rem;
  }
}
@media (min-width: 1200px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-image {
    width: 45%;
  }
}
@media (min-width: 1400px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-image {
    width: 40%;
    height: 10rem;
  }
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-description {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description {
    padding: 2rem;
    width: 56%;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description {
    width: 60%;
  }
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-description * {
  text-indent: 0;
  font-size: var(--aten-fs-body-14);
  line-height: var(--aten-lh-body-14);
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-description a {
  font-weight: var(--aten-fw-bold);
  font-size: 1rem;
  display: block;
  text-decoration: none;
}
@media (min-width: 768px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description a {
    font-size: var(--aten-fs-heading-h4);
    line-height: var(--aten-lh-heading-h4);
    font-weight: var(--aten-fw-bold);
    font-size: 1.375rem;
    line-height: 2rem;
  }
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-description a:hover, .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description a:focus {
  text-decoration: underline;
}
.rotating-banner-block .rotating-banner-slide-content .rotating-slide-description p {
  margin: 0.125rem 0 0;
}
@media (min-width: 768px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description p {
    margin-top: 0.5rem;
  }
}
@media (max-width: 767.98px) {
  .rotating-banner-block .rotating-banner-slide-content .rotating-slide-description p {
    font-size: 0.875rem;
  }
}
.rotating-banner-block .splide.is-focus-in .splide__arrow:focus,
.rotating-banner-block button.splide__arrow:focus,
.rotating-banner-block button.splide__arrow.focus-visible {
  outline: 0.1875rem solid -webkit-focus-ring-color;
  outline-offset: 0px;
}
.rotating-banner-block .splide.is-focus-in .splide__arrow:focus,
.rotating-banner-block button.splide__arrow:focus,
.rotating-banner-block button.splide__arrow:focus-visible {
  outline: 0.1875rem solid -webkit-focus-ring-color;
  outline-offset: 0px;
}