.progress-block.l-full {
  background-color: var(--aten-blue-light);
  padding: 1.25rem 0.9375rem 3.5rem;
}
.progress-block.l-full::before {
  background-color: var(--transparent);
}
@media (min-width: 768px) {
  .progress-block.l-full {
    background-image: url("../aten-fse/assets/img/progress-swishies.svg");
    background-position: top right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 2.5rem 2.5rem 3rem;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full {
    background-position: center right;
  }
}
@media (min-width: 768px) {
  .progress-block.l-full hr {
    display: none;
  }
}
.progress-block.l-full h2 {
  font-size: var(--aten-fs-heading-h2);
  line-height: var(--aten-lh-heading-h2);
  font-size: 1.25rem;
  font-weight: var(--aten-fw-bold);
  color: var(--aten-blue-dark);
  text-align: center;
}
@media (min-width: 768px) {
  .progress-block.l-full h2 {
    font-size: var(--font-size-h2);
  }
}
.progress-block.l-full h3 {
  font-size: var(--aten-fs-label-18);
  line-height: var(--aten-lh-label-18);
  font-weight: var(--aten-fw-bold);
  font-size: 0.75rem;
  margin: 1.5rem auto 1rem 0;
  text-indent: 0;
}
@media (min-width: 768px) {
  .progress-block.l-full h3 {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full h3 {
    margin-bottom: 1.75rem;
  }
}
.progress-block.l-full p.subtitle {
  text-align: center;
  font-size: var(--aten-fs-heading-h3);
  line-height: var(--aten-lh-heading-h3);
  font-size: 1rem;
  margin-top: 0.75rem;
}
@media (min-width: 768px) {
  .progress-block.l-full p.subtitle {
    font-size: var(--font-size-h3);
    margin-top: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full p.subtitle {
    font-size: 1.75rem;
  }
}
.progress-block.l-full ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.progress-block.l-full ul.progress-block-list-wrapper {
  margin: 1.5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 90rem;
}
@media (min-width: 768px) {
  .progress-block.l-full ul.progress-block-list-wrapper {
    margin-top: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full ul.progress-block-list-wrapper {
    margin-top: 2.25rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full ul.progress-block-list-wrapper.col-count-1 .progress-block-column {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full ul.progress-block-list-wrapper.col-count-2 .progress-block-column {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full ul.progress-block-list-wrapper.col-count-3 .progress-block-column {
    width: calc(33.3% - 1.65625rem);
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full ul.progress-block-list-wrapper.col-count-4 .progress-block-column {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1200px) {
  .progress-block.l-full ul.progress-block-list-wrapper.col-count-4 .progress-block-column {
    width: calc(25% - 30px);
  }
}
.progress-block.l-full ul.progress-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .progress-block.l-full ul.progress-links {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full ul.progress-links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.25rem;
  }
}
.progress-block.l-full li.progress-link {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .progress-block.l-full li.progress-link {
    width: calc(50% - 0.5rem);
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full li.progress-link {
    width: 100%;
  }
}
.progress-block.l-full li.progress-link .link-icon {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--aten-blue);
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 0;
  color: var(--black);
  transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .progress-block.l-full li.progress-link .link-icon {
    height: 3rem;
    width: 3rem;
    font-size: 1.625rem;
  }
}
.progress-block.l-full li.progress-link a {
  font-size: var(--aten-fs-heading-h4);
  line-height: var(--aten-lh-heading-h4);
  font-weight: var(--aten-fw-bold);
  text-decoration: none;
  position: relative;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .progress-block.l-full li.progress-link a {
    font-size: 1.125rem;
    padding-left: 3.75rem;
  }
}
@media (min-width: 1024px) {
  .progress-block.l-full li.progress-link a {
    font-size: var(--font-size-h4);
  }
}
.progress-block.l-full li.progress-link a:hover, .progress-block.l-full li.progress-link a:focus {
  text-decoration: underline;
}
.progress-block.l-full .progress-block-column hr {
  margin: 0;
}
.progress-block.l-full .progress-block-column:nth-child(2) li.progress-link .link-icon {
  background-color: var(--aten-yellow);
}
.progress-block.l-full .progress-block-column:nth-child(3) li.progress-link .link-icon {
  background-color: var(--aten-green);
}
.progress-block.l-full .progress-block-column:nth-child(4) li.progress-link .link-icon {
  background-color: var(--aten-blue-light);
}

.progress-block-border,
.progress-block-border img {
  width: 100%;
}
.progress-block-border img {
  height: auto;
}