@use '../../partials/partials' as *;

// Global - Layout
//
// - Alignment
// - Flex
// - Constrained
// - Grid
// - Stacking
// - Gutters
//

//------------------------------------
//  Alignment
//------------------------------------

.align-left {
  margin: 0 var(--aten-grid-gap) var(--aten-grid-gap) 0;
}

.align-right {
  margin: 0 0 var(--aten-grid-gap) var(--aten-grid-gap);
}

.align-center {
  margin: var(--aten-grid-gap) auto;
}

//------------------------------------
//  Flex
//------------------------------------

[class*='l-flex'] > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--aten-grid-gap) / 2 * -1)
    calc(var(--aten-grid-gap) / 2 * -1);
}

[class*='l-flex'] > * > * {
  margin: calc(var(--aten-grid-gap) / 2) calc(var(--aten-grid-gap) / 2);
}

.l-flex__alignment--start > * {
  justify-content: flex-start;
}

.l-flex__alignment--center > * {
  justify-content: center;
}

.l-flex__alignment--end > * {
  justify-content: flex-end;
}

.l-flex__alignment--end > * {
  justify-content: flex-end;
}

.l-flex__no-wrap > * {
  flex-wrap: nowrap;
}

//------------------------------------
//  Constrained
//------------------------------------

[class*='l-constrained'] {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--aten-width-xlarge);
  width: 100%;
}

[class*='l-constrained'] [class*='l-constrained'] {
  margin-left: 0;
  margin-right: 0;
}

.l-constrained {
  max-width: var(--aten-width-xlarge);
}

.l-constrained__width--narrow {
  max-width: var(--aten-width-medium);
}

.l-constrained__width--wide {
  max-width: var(--aten-width-xxlarge);
}

.l-constrained__width--full {
  width: 100%;
}

//------------------------------------
//  Grid
//------------------------------------

.l-grid {
  .l-grid__inner {
    @include bp-min(tablet) {
      display: flex;
      flex-flow: nowrap row;
      margin: 0 -#{var(--aten-grid-gap)};
    }
  }

  .l-grid__inner > * + * {
    margin-top: var(--aten-grid-gap);
  }

  .l-grid__inner .l-grid__item {
    flex-shrink: 0;

    @include bp-min(tablet) {
      padding: 0 var(--aten-grid-gap);
    }
  }

  .l-grid__inner .l-grid__item--col-2 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((2 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-3 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((3 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-4 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((4 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-5 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((5 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-6 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((6 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-7 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((7 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-8 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((8 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-9 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((9 / 12) * 100%);
    }
  }

  .l-grid__inner .l-grid__item--col-10 {
    width: 100%;

    @include bp-min(tablet) {
      width: calc((10 / 12) * 100%);
    }
  }
}

//------------------------------------
//  Stacking
//------------------------------------

[class*='l-stack'] > * {
  margin-top: 0;
  margin-bottom: 0;
}

[class*='l-stack'] > * + * {
  margin-top: var(--space-gap-y);
}

.l-stack__ruled > * + * {
  padding-top: var(--space-gap-y);
  border-top: var(--size-border, 1px) var(--style-border, solid)
    var(--color-border);
}

.l-stack__none > * + * {
  margin-top: 0;
}

.l-stack__minimal > * + * {
  margin-top: 12px;
}

.l-stack__tight > * + * {
  margin-top: 16px;
}

.l-stack__compact > * + * {
  margin-top: 32px;
}

.l-stack__normal > * + * {
  margin-top: 48px;
}

//------------------------------------
//  Gutters
//------------------------------------

[class*='l-gutter'] {
  margin: 0 auto;
  max-width: var(--aten-width-xlarge);
  width: calc(100% - (var(--aten-margin-x) * 2));
}

.l-gutter__full-mobile {
  @include bp-max(tablet) {
    margin: 0;
    width: 100%;
  }
}
