//Settings - Breakpoints
//These map to the bp file in functions
// The size 1860px accounts for the maxwidth with margin (240px total)

$grid-breakpoints: (
  mobile: 0,
  lg-mobile: 475,
  sm-tablet: 576,
  tablet: 768,
  lg-tablet: 992,
  sm-desktop: 1024,
  desktop: 1200,
  lg-desktop: 1400,
  maxwidth: 1620,
  wrapper: 1861,
);
