@use '../../../libraries/partials/partials' as *;

// Homepage Hero styles
.homepage-hero-block {
  position: relative;

  #homepage-image-carousel {
    background-color: var(--aten-purple);

    .splide__list#homepage-hero-images .splide__slide.homepage-hero-image {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: rem(220px);

      @include bp-min(tablet) {
        height: 50vw;
        max-height: rem(720px);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .slide-autoplay-controls {
      position: absolute;
      z-index: 100;
      bottom: -95%;
      right: rem(22px);
      left: auto;

      @include bp-min(tablet) {
        bottom: rem(22px);
      }

      .pause-toggle-button {
        @include font-material-icons;
        padding: 0;
        border: 0;
        background-color: var(--transparent);
        color: var(--white);
        font-size: rem(24px);

        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    }
  }

  .homepage-hero-wrapper {
    background-color: var(--aten-purple);
    padding: rem(32px) rem(32px) rem(60px);
    text-align: center;

    @include bp-min(tablet) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 50vw;
      max-height: rem(720px);
      background: linear-gradient(
        180deg,
        rgba(28, 63, 148, 0) 0%,
        #1c3f94 100%,
        #1c3f94 100%
      );
      box-sizing: border-box;
      padding: rem(60px) rem(15px);

      .homepage-hero-text-content {
        width: calc(100% - rem(30px));
        position: absolute;
        bottom: rem(60px);
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    h1 {
      @include type-scale(heading, h2);
      font-weight: var(--aten-fw-bold);
      color: var(--white);
      letter-spacing: rem(4px);

      @include bp-min(sm-desktop) {
        font-size: rem(48px);
        letter-spacing: rem(12px);

        span {
          font-size: rem(36px);
          letter-spacing: rem(6px);
        }
      }

      @include bp-min(desktop) {
        font-size: rem(72px);
        letter-spacing: rem(18px);

        .to {
          font-size: rem(48px);
          letter-spacing: rem(12px);
        }

        .california {
          font-size: rem(40px);
          line-height: 1.5;
        }
      }

      @include bp-min(desktop) {
        font-size: rem(72px);

        .to {
          font-size: rem(48px);
          vertical-align: top;
        }

        .california {
          font-size: rem(40px);
        }
      }

      @include bp-min(lg-desktop) {
        font-size: rem(80px);
      }

      @include bp-max(tablet) {
        font-size: rem(20px);
      }

      .california {
        color: var(--aten-yellow);
        display: block;
      }
    }

    .homepage-hero-subtitle {
      @include bp-min(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(32px);
        margin-top: rem(32px);
      }

      p {
        @include type-scale(heading, h3);
        font-weight: var(--aten-fw-bold);
        color: var(--white);
        margin: rem(16px) auto;

        @include bp-min(tablet) {
          margin: 0;
        }
      }

      a.button {
        font-size: rem(14px);
        margin: 0 auto;

        @include bp-min(tablet) {
          margin: 0;
          font-size: rem(18px);
        }
      }
    }
  }

  .hero-bottom-border {
    display: none;
    background-color: var(--aten-gray);

    @include bp-min(tablet) {
      display: block;
      margin-top: -1px;
      overflow: hidden;
    }

    img {
      // Adjusting for gap on Safari browsers
      width: 101%;
      height: auto;
    }
  }
}
