@use '../../../libraries/partials/partials' as *;

// Rotating Banner 
.post-carousel-block {
  background-color: var(--aten-blue-light);

  @include bp-max(tablet) {
    .splide__arrows {
      position: absolute;
      bottom: rem(8px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      left: 50%;
      transform: translate(-50%, 0);
    }

    button.splide__arrow {
      position: static;
      transform: none;
    }

    .post-carousel-slide-content {
      @include l-gutter;
    }
  }

  #post-carousel {
    @include bp-min(tablet) {
      width: calc(100% - rem(180px));
      margin: 0 auto;
    }
  }

  button.splide__arrow {
    @include font-material-icons;
    font-size: rem(34px);
    padding: 0;
    background-color: var(--transparent);
    width: auto;
    height: auto;
    line-height: 1;
    color: var(--aten-blue-dark);
    opacity: 1;

    @include bp-min(tablet) {
      // Half of the vertical offset of #post-carousel
      top: calc(50% - rem(10px));

      &.splide__arrow--prev {
        left: rem(-50px);
      }

      &.splide__arrow--next {
        right: rem(-50px);
      }
    }

    @include bp-min(desktop) {
      // Half of the vertical offset of #post-carousel
      top: calc(50% - rem(34px));
    }

    &:hover,
    &:focus {
      color: var(--aten-blue-dark);
    }
  }

  .post-carousel-slide-content {
    background-color: var(--white);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    overflow: hidden;
    height: 100%;

    @include bp-min(tablet) {
      display: flex;
      width: calc(100% - rem(32px));
      margin: 0 auto;
    }

    .carousel-slide-image {
      width: 100%;
      min-height: rem(220px);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @include bp-min(tablet) {
        width: 44%;
        min-height: rem(190px);
      }

      @include bp-min(desktop) {
        width: 45%;
      }

      @include bp-min(lg-desktop) {
        width: 40%;
        min-height: rem(160px);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .carousel-slide-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include bp-min(tablet) {
        width: 56%;
        flex-grow: 1;
      }

      @include bp-min(desktop) {
        width: 55%;
      }

      @include bp-min(desktop) {
        width: 60%;
      }

      * {
        text-indent: 0;
      }

      a {
        font-weight: var(--aten-fw-bold);
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .splide.is-focus-in .splide__arrow:focus,
  button.splide__arrow:focus,
  button.splide__arrow:focus-visible {
    outline: rem(3px) solid -webkit-focus-ring-color;
    outline-offset: 0px;
  }
}
