@use '../../partials/partials' as *;

// Layout styles and base variable properties
:root {
  // Border radius values
  --default-border-radius: 0px;
  --border-radius-md: #{rem(8px)};
  --border-radius-lg: #{rem(100px)};

  // Box shadow
  --default-box-shadow: #{rem(2px)} #{rem(2px)} #{rem(12px)} rgba(0, 0, 0, 0.3);

  // Spacing and margins
  --aten-margin-x: 20px;
  --aten-margin-y: 34px;
  --aten-block-spacing-y: 20px;
  --aten-content-footer-spacing-y: 40px;

  @include bp-min(tablet) {
    --aten-margin-x: 40px;
    --aten-content-footer-spacing-y: 60px;
  }

  @include bp-min(sm-desktop) {
    --aten-margin-x: 60px;
    --aten-margin-y: 42px;
    --aten-block-spacing-y: 28px;
    --aten-content-footer-spacing-y: 80px;
  }

  @include bp-min(lg-desktop) {
    --aten-margin-x: 80px;
  }

  // Grid layout
  --aten-grid-gap: 24px;

  @include bp-min(lg-tablet) {
    --aten-grid-gap: 40px;
  }

  // Content widths
  --aten-width-xxlarge: 1620px;
  --aten-width-xlarge: 1380px;
  --aten-width-large: 1024px;
  --aten-width-medium: 960px;
  --aten-width-small: 768px;
  --aten-width-xsmall: 640px;
  --aten-width-xxsmall: 480px;
  --aten-width-constrained-full: 1020px;
  --aten-width-constrained: 908px;

  // z-index layers
  --aten-zindex-super: 100;
  --aten-zindex-top: 90;
  --aten-zindex-over: 10;
  --aten-zindex-default: 1;
  --aten-zindex-under: -1;
  --aten-zindex-bottom: -9999px;
}

// Global reset and base styles
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.entry-content {
  position: relative;
  z-index: 3;
}

main#wp--skip-link--target {
  // Removing whitespace between menu and header of templates
  margin-top: 0px !important;
}

main#main {
  max-width: 100vw;
  overflow-x: hidden;
}

.wp-block-columns {
  position: relative;
  gap: var(--aten-grid-gap);
}

.cleardiv {
  clear: both;
}

// Attach smooth for all scrollable elements
html {
  scroll-behavior: smooth;
}

.entry-content,
.entry-column {
  > *:not(.entry-column):not(.separator-component):not(.cleardiv) {
    margin-top: var(--aten-block-spacing-y);
  }

  img {
    display: block;
    margin: 0;
    max-width: 100%;
  }
}

.entry-content figure.wp-block-image {
  &.alignleft {
    @include bp-min(tablet) {
      float: left;
      margin-right: rem(32px);
    }
  }

  &.alignright {
    @include bp-min(tablet) {
      float: right;
      margin-left: rem(32px);
    }
  }
}
