/* Pagination Styling */
nav.navigation.pagination {
    background-color: var(--black);
    color: var(--white);
    max-width: 100vw;
    width: 100%;
    border-top: 0;
    padding: rem(32px) rem(20px) rem(40px);

    .nav-links {
        align-items: center;
        justify-content: center;
        gap: rem(13px);
        margin: 0;

        > * {
            margin: 0;
        }

        .pagination-list {
            @include list--unordered-flex(row, rem(12px));
            align-items: center;

            .pagination-item {
                text-align: center;

                a.page-numbers {
                    @include font-body-18;
                    @include font-weight-bold;
                    background-color: var(--white);
                    color: var(--black);
                    display: flex;
                    width: rem(32px);
                    height: rem(32px);
                    align-items: center;
                    justify-content: center;
                    border: rem(2px) solid var(--white);
                    border-radius: rem(6px);
                    transition: all .25s ease;

                    &:hover,
                    &:focus {
                        background-color: var(--orange);
                        border-color: var(--orange);
                        text-decoration: underline;
                        outline: rem(2px) solid var(--orange);
                    }

                    &.current {
                        color: var(--white);
                        background-color: var(--black);

                        &:hover,
                        &:focus {
                            color: var(--white);
                            background-color: var(--black);
                            border-color: var(--white);
                            text-decoration: underline;
                        }
                    }
                }

                .dots {
                    @include font-body-18;
                    @include font-weight-bold;
                    background-color: var(--black)!important;
                    color: var(--white)!important;
                    border-color: var(--black)!important;
                    min-height: rem(32px);
                    display: flex;
                }
            }
        }

        .prev,
        .next {
            display: flex;
            align-items: center;
            justify-content: center;

            .pagination-icon {
                height: rem(20px);
                width: rem(28px);
                background-size: 100% auto;
                background-position: center center;
                background-repeat: no-repeat;
            }

            &:focus,
            &:focus-within {
                outline: rem(2px) solid var(--orange);
                outline-offset: rem(-2px);
                border-radius: rem(6px);
            }
        }

        .prev {
            .pagination-icon {
                background-image: url('../ccc/assets/icons/ui/white/arrow_left.svg');
            }

            &:hover,
            &:focus,
            &:focus-within {
                .pagination-icon {
                    background-image: url('../ccc/assets/icons/ui/orange/arrow_left.svg');
                }  
            } 
        }

        .next {
            .pagination-icon {
                background-image: url('../ccc/assets/icons/ui/white/arrow_right.svg');
            }
            
            &:hover,
            &:focus,
            &:focus-within {
                .pagination-icon {
                    background-image: url('../ccc/assets/icons/ui/orange/arrow_right.svg');
                }  
            } 
        }

        @include bp-min(tablet) {
            justify-content: flex-start;
            margin: rem(20px) 0 0;
            padding: rem(20px) 0 0;
            
            &:before {
                content: '';
                display: block;
                position: relative;
                top: rem(-8px);
                width: 100%;
                height: rem(8px);
                border-radius: rem(20px);
                @include bg-gradient(90deg, var(--orange), var(--coral), var(--purple));
            }
        }

        @include bp-min(smdesk) {
            padding-top: rem(40px);
            margin-top: rem(40px);

            &:before {
                top: rem(-28px);
            }
        }
    }

    @include bp-min(tablet) {
        padding: 0;
        margin-bottom: 0;
    }
}