/* Table Styles */
.wp-block-table {

    table {
        max-width: rem(906px);
        min-width: rem(600px);
    }

    thead {
        background-color: var(--dark-purple);

        * {
            color: var(--white);
        }

        th {
            @include font-weight-bold;
            border-width: 0px;
            color: var(--white);
        }
    }

    thead, tbody, tfoot {
        border-color: var(--dark-purple);
    }

    th, td {
        @include font-body-18;
        text-align: left;
        border-right: 0px;
        border-left: 0px;
        padding: rem(12px) rem(20px);
        vertical-align: text-top;
        border-color: var(--dark-purple);

        @include bp-min(tablet) {
            padding: rem(16px) rem(24px);
        }
    }

    a {
        color: var(--purple);
        @include font-weight-bold;

        &:hover,
        &:focus {
            color: var(--dark-purple);
        }
    }

    figcaption {
        text-align: left;
        @include font-label-14;
    }
}