//Settings - Breakpoints
//These map to the bp file in functions
// The size 1860px accounts for the maxwidth with margin (240px total)

$grid-breakpoints: (
  mobile: 0px,
  tablet: 768px,
  smdesk: 1024px,
  mddesk: 1200px,
  lgdesk: 1400px,
  maxwidth: 1620px,
  wrapper: 1861px,
);
