:root {
  // Theme colors
  --aten-blue: #0098CE;
  --aten-blue-dark: #00659B;
  --aten-blue-light: #40D8EC;
  --aten-gray: #9D999D;
  --aten-gray-dark: #261F26;
  --aten-gray-light: #E1E0E1;
  --aten-green: #5FA413;
  --aten-green-dark: #417505;
  --aten-green-light: #7ED321;
  --aten-orange: #F29300;
  --aten-orange-dark: #E04800;
  --aten-purple: #6C3E6C;
  --aten-purple-dark: #53284F;
  --aten-purple-light: #9C5A9D;
  --aten-red: #CC0000;
  --aten-yellow: #FDC400;
  --aten-yellow-light: #F9E8AC;
  --black: #130F13;
  --wcag-placeholder: #504B50;
  --white: #ffffff;
 

  // Default color intent vars
  --default-border-ci: var(--aten-gray-dark);
  --default-button-ci: var(--aten-purple);
  --default-button-hover-ci: var(--aten-purple-dark);
  --default-link-ci: var(--aten-red);
  --default-link-hover-ci: var(--aten-orange-dark);
  --default-text-ci: var(--black);
}
