@use '../../../libraries/partials/partials' as *;

// Information Header block styles
.information-header-block-component {
  width: 100%;
  position: relative;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      text-indent: 0;

      &:nth-of-type(1) {
        .contact-icon {
          background-color: var(--aten-yellow);
        }
      }

      &:nth-of-type(2) {
        .contact-icon {
          background-color: var(--aten-green);
        }
      }

      &:nth-of-type(3) {
        .contact-icon {
          background-color: var(--aten-purple);
        }
      }

      &:nth-of-type(4) {
        .contact-icon {
          background-color: var(--aten-red);
        }
      }

      &:nth-of-type(5) {
        .contact-icon {
          background-color: var(--aten-orange-dark);
        }
      }

      .contact-icon {
        @include font-material-icons;
        font-size: rem(18px);
        width: rem(24px);
        height: rem(24px);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        flex-shrink: 0;

        @include bp-min(tablet) {
          width: rem(34px);
          height: rem(34px);
          font-size: rem(20px);
        }

        @include bp-min(desktop) {
          width: rem(44px);
          height: rem(44px);
          font-size: rem(22px);
        }
      }
    }
  }

  .info-wrapper {
    width: 100%;
    box-sizing: border-box;

    @include bp-min(sm-desktop) {
      flex-shrink: 0;
      width: 43%;
    }
  }

  .information-header-block-wrapper {
    position: relative;
    z-index: 2;
  }

  .information-header-block-content {
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    overflow: hidden;
    width: 100%;

    @include bp-min(sm-desktop) {
      display: flex;

      &:not(.has-image) {
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          li {
            width: 30%;

            &.additional-info {
              flex-grow: 1;
            }
          }
        }

        .info-wrapper {
          width: 100% !important;
        }
      }
    }

    .information-header-image-wrapper {
      width: 100%;
      min-height: rem(180px);
      overflow: hidden;
      background-position: center center;
      background-size: cover;

      @include bp-min(sm-desktop) {
        width: 57%;
        height: auto;
        min-height: rem(260px);
      }

      @include bp-min(desktop) {
        min-height: rem(480px);
      }

      @include bp-min(lg-desktop) {
        min-height: rem(520px);
      }
    }
  }

  h1 {
    @include type-scale(heading, h1);
    color: var(--white);
    font-weight: var(--aten-fw-bold);
  }

  h2.title {
    @include type-scale(heading, h6);
    font-weight: var(--aten-fw-bold);
  }
}
