.callout-block h2 {
  font-weight: var(--aten-fw-bold);
  color: var(--black);
  font-size: var(--font-size-18);
}
.callout-block p {
  font-size: var(--aten-fs-body-18);
  line-height: var(--aten-lh-body-18);
  color: var(--black);
  margin: 0.25rem 0 0;
}
.callout-block a.button {
  color: var(--default-button-ci);
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-18);
  font-weight: var(--aten-fw-bold);
  line-height: 156%;
  text-align: left;
  text-decoration: none;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: -moz-fit-content;
  width: fit-content;
  text-indent: 0;
  position: relative;
  padding-right: 2.25rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .callout-block a.button {
    padding-right: 3rem;
  }
}
.callout-block a.button a {
  color: var(--default-button-ci);
  text-decoration: none;
}
.callout-block a.button::after {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: var(--default-button-ci);
  content: "arrowcircleright";
  display: inline;
  position: absolute;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 767.98px) {
  .callout-block a.button::after {
    font-size: 1.25rem;
    margin-left: 0.375rem;
  }
}
.callout-block a.button:hover, .callout-block a.button:focus {
  color: var(--default-button-hover-ci);
  text-decoration: underline;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.callout-block a.button:hover::after, .callout-block a.button:focus::after {
  color: var(--default-button-hover-ci);
}
@media (max-width: 767.98px) {
  .callout-block a.button {
    padding: 0.25rem 2rem 0.25rem 0.75rem;
  }
  .callout-block a.button::after {
    color: var(--default-button-hover-ci);
    margin-left: 0.25rem;
  }
}
.callout-block .cloud {
  background-color: var(--aten-blue-light);
}
.callout-block .gold {
  background-color: var(--aten-yellow-light);
}
.callout-block .navy {
  background-color: var(--aten-blue-dark);
}
.callout-block .navy p,
.callout-block .navy h2 {
  color: var(--white);
}
.callout-block .large {
  padding: 1.5rem;
  border-radius: var(--default-border-radius);
}
@media (min-width: 768px) {
  .callout-block .large {
    padding: 2.5rem 2.5rem 1.25rem;
    border-radius: 0.25rem 0.25rem 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
@media (min-width: 1024px) {
  .callout-block .large {
    padding: 3.75rem 3.75rem 2rem;
  }
}
.callout-block .large a.button {
  background-color: var(--default-button-ci);
  border: none;
  border-radius: var(--default-border-radius);
  color: var(--white);
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-18);
  font-weight: var(--aten-fw-bold);
  line-height: 156%;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: -moz-fit-content;
  width: fit-content;
  text-indent: 0;
  position: relative;
}
@media (min-width: 768px) {
  .callout-block .large a.button {
    padding-right: 3rem;
  }
}
.callout-block .large a.button a {
  color: var(--white);
  text-decoration: none;
}
.callout-block .large a.button::after {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: var(--white);
  content: "arrowcircleright";
  display: inline;
  position: absolute;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 767.98px) {
  .callout-block .large a.button::after {
    font-size: 1.25rem;
    margin-left: 0.375rem;
  }
}
.callout-block .large a.button:hover, .callout-block .large a.button:focus {
  background-color: var(--default-button-hover-ci);
  color: var(--white);
  text-decoration: underline;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767.98px) {
  .callout-block .large a.button {
    padding: 0.25rem 2rem 0.25rem 0.75rem;
  }
  .callout-block .large a.button::after {
    margin-left: 0.25rem;
  }
}
@media (min-width: 768px) {
  .callout-block .large a.button {
    margin-top: 1.25rem;
  }
}
@media (min-width: 768px) {
  .callout-block .large p {
    margin-top: 1.25rem;
    font-size: var(--font-size-h3);
  }
}
@media (min-width: 768px) {
  .callout-block .large h2 {
    font-size: var(--font-size-h2);
  }
}
@media (min-width: 768px) {
  .callout-block .large.cloud {
    background-image: url("../aten-fse/assets/img/swishies_sky-blue.svg");
  }
}
.callout-block .large.cloud a.button {
  background-color: var(--default-button-ci);
  border: none;
  border-radius: var(--default-border-radius);
  color: var(--white);
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-18);
  font-weight: var(--aten-fw-bold);
  line-height: 156%;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: -moz-fit-content;
  width: fit-content;
  text-indent: 0;
  position: relative;
}
@media (min-width: 768px) {
  .callout-block .large.cloud a.button {
    padding-right: 3rem;
  }
}
.callout-block .large.cloud a.button a {
  color: var(--white);
  text-decoration: none;
}
.callout-block .large.cloud a.button::after {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: var(--white);
  content: "arrowcircleright";
  display: inline;
  position: absolute;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 767.98px) {
  .callout-block .large.cloud a.button::after {
    font-size: 1.25rem;
    margin-left: 0.375rem;
  }
}
.callout-block .large.cloud a.button:hover, .callout-block .large.cloud a.button:focus {
  background-color: var(--default-button-hover-ci);
  color: var(--white);
  text-decoration: underline;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767.98px) {
  .callout-block .large.cloud a.button {
    padding: 0.25rem 2rem 0.25rem 0.75rem;
  }
  .callout-block .large.cloud a.button::after {
    margin-left: 0.25rem;
  }
}
@media (min-width: 768px) {
  .callout-block .large.gold {
    background-image: url("../aten-fse/assets/img/swishies_gold.svg");
  }
}
@media (min-width: 768px) {
  .callout-block .large.navy {
    background-image: url("../aten-fse/assets/img/swishies_black.svg");
  }
}
.callout-block .small {
  padding: 1.5rem;
  border-radius: var(--default-border-radius);
}
@media (min-width: 768px) {
  .callout-block .small {
    padding: 2rem;
  }
  .callout-block .small h2 {
    font-size: var(--font-size-h4);
  }
}
@media (min-width: 1400px) {
  .callout-block .small {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.callout-block .small a.button {
  padding-left: 0px !important;
}
.callout-block .small a.button {
  color: var(--default-button-ci);
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-18);
  font-weight: var(--aten-fw-bold);
  line-height: 156%;
  text-align: left;
  text-decoration: none;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: -moz-fit-content;
  width: fit-content;
  text-indent: 0;
  position: relative;
  padding-right: 2.25rem;
  border: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .callout-block .small a.button {
    padding-right: 3rem;
  }
}
.callout-block .small a.button a {
  color: var(--default-button-ci);
  text-decoration: none;
}
.callout-block .small a.button::after {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: var(--default-button-ci);
  content: "arrowcircleright";
  display: inline;
  position: absolute;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 767.98px) {
  .callout-block .small a.button::after {
    font-size: 1.25rem;
    margin-left: 0.375rem;
  }
}
.callout-block .small a.button:hover, .callout-block .small a.button:focus {
  color: var(--default-button-hover-ci);
  text-decoration: underline;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.callout-block .small a.button:hover::after, .callout-block .small a.button:focus::after {
  color: var(--default-button-hover-ci);
}
@media (max-width: 767.98px) {
  .callout-block .small a.button {
    padding: 0.25rem 2rem 0.25rem 0.75rem;
  }
  .callout-block .small a.button::after {
    color: var(--default-button-hover-ci);
    margin-left: 0.25rem;
  }
}
.callout-block .small.navy a.button {
  padding-left: 0px !important;
}
.callout-block .small.navy a.button {
  color: var(--white);
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body-18);
  font-weight: var(--aten-fw-bold);
  line-height: 156%;
  text-align: left;
  text-decoration: none;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: -moz-fit-content;
  width: fit-content;
  text-indent: 0;
  position: relative;
  padding-right: 2.25rem;
}
@media (min-width: 768px) {
  .callout-block .small.navy a.button {
    padding-right: 3rem;
  }
}
.callout-block .small.navy a.button a {
  color: var(--white);
  text-decoration: none;
}
.callout-block .small.navy a.button::after {
  font-family: var(--font-family-icons);
  font-weight: var(--aten-fw-regular);
  text-decoration: none;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: var(--white);
  content: "arrowcircleright";
  display: inline;
  position: absolute;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 767.98px) {
  .callout-block .small.navy a.button::after {
    font-size: 1.25rem;
    margin-left: 0.375rem;
  }
}
.callout-block .small.navy a.button:hover, .callout-block .small.navy a.button:focus {
  color: var(--white);
  text-decoration: underline;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.callout-block .small.navy a.button:hover::after, .callout-block .small.navy a.button:focus::after {
  color: var(--white);
}
@media (max-width: 767.98px) {
  .callout-block .small.navy a.button {
    padding: 0.25rem 2rem 0.25rem 0.75rem;
  }
  .callout-block .small.navy a.button::after {
    color: var(--white);
    margin-left: 0.25rem;
  }
}
.callout-block .callout-wave {
  width: 100%;
}
@media (max-width: 767.98px) {
  .callout-block .callout-wave {
    display: none;
  }
}
.callout-block .callout-wave img {
  width: 100%;
  height: auto;
}